
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Seasonmedia</h1>

<f:flashMessages renderMode="div" />

<table  class="tx_seasons" >
	<tr>
		<th><f:translate key="tx_bnseasons_domain_model_seasonmedia.headerimage" /></th>
		<th><f:translate key="tx_bnseasons_domain_model_seasonmedia.headertext" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{seasonmedias}" as="seasonmedia">
		<tr>
			<td><f:link.action action="show" arguments="{seasonmedia : seasonmedia}"> {seasonmedia.headerimage}</f:link.action></td>
			<td><f:link.action action="show" arguments="{seasonmedia : seasonmedia}"> {seasonmedia.headertext}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{seasonmedia : seasonmedia}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{seasonmedia : seasonmedia}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Seasonmedia</f:link.action>
</f:section>