/* Cookiebanner */

.cb-cookiebanner {
    position: absolute;
    bottom: auto;
    color: #fff;
    width: 100%;
    z-index: 10000;
    font-size: 11px;
    border-top: none;
    background-color: #b68746;
    top: 0;
}

.cb-infolink,
a.cb-infolink:visited {
    color: #444;
}

.cb-button {
    background-color: #444;
    color: inherit;
}
