.gall_wrapper {
    padding: 43px;
    background-color: #c0bdb3;
}

.gallery_slider {
    position: relative;
}

.gallery_slider .item {
    /*padding: 7px;*/
}

.gallery_slider .sub_item {
    position: relative;
    overflow: hidden;
    padding: 7px;
}

.gallery_slider .sub_item a {
    display: block;
    height: 100%;
    width: auto;
    background-color: #000;
    overflow: hidden;
}

.gallery_slider .sub_item a img {
    display: block;
}

.gallery_slider .sub_item a .gallery_overlay_video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.gallery_slider .sub_item a.mfp-item-video  {
    background-image: none;
}

.gallery_slider.box_count_1 .item {
    width: 100%;
    float: left;
}

.gallery_slider.box_count_1 .item:nth-child(n+2) {
    display: none;
}

.gallery_slider.box_count_2 .item {
    width: 50%;
    float: left;
}

.gallery_slider.box_count_2 .item:nth-child(n+3) {
    display: none;
}

.gallery_slider.box_count_4 .item {
    width: 50%;
    float: left;
}

.gallery_slider.box_count_4 .item:nth-child(n+5) {
    display: none;
}

.gallery_slider.box_count_6 .item {
    width: 33.333%;
    float: left;
}

.gallery_slider.box_count_6 .item:nth-child(n+7) {
    display: none;
}

@media only screen and (min-width: 768px) {
    .gallery_slider.box_count_3 .item {
        width: 100%;
        float: left;
    }

    .gallery_slider.box_count_3 .item:first-child {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 50%;
        overflow: hidden;
    }

    .gallery_slider.box_count_3 .item:first-child .sub_item,
    .gallery_slider.box_count_3 .item:first-child .sub_item img {
        width: auto;
        height: 100%;
    }

    .gallery_slider.box_count_3 .item:nth-child(n+2) .sub_item {
        float: right;
        width: 50%;
    }

    .gallery_slider.box_count_3 .item:nth-child(n+4) {
        display: none;
    }

    .gallery_slider.box_count_5 .item {
        width: 33.333%;
        float: left;
    }

    .gallery_slider.box_count_5 .item:nth-child(2n) {
        width: 66.666%;
    }

    .gallery_slider.box_count_5 .item:nth-child(2n) .sub_item {
        width: 50% !important;
    }

    .gallery_slider.box_count_5 .item:first-child {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 33.333%;
        overflow: hidden;
    }

    .gallery_slider.box_count_5 .item:first-child .sub_item,
    .gallery_slider.box_count_5 .item:first-child .sub_item img {
        width: auto;
        height: 100%;
    }

    .gallery_slider.box_count_5 .item:nth-child(n+2) .sub_item {
        float: right;
        width: 100%;
    }

    .gallery_slider.box_count_5 .item:nth-child(n+6) {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .gallery_slider.box_count_2 .item,
    .gallery_slider.box_count_4 .item,
    .gallery_slider.box_count_6 .item {
        width: 100%;
    }

    .gall_wrapper {
        padding: 10px;
    }

    .gallery_slider.box_count_3 .item,
    .gallery_slider.box_count_5 .item {
        width: 100%;
        float: left;
    }

    .gallery_slider.box_count_3 .item:nth-child(n+4),
    .gallery_slider.box_count_5 .item:nth-child(n+6) {
        display: none;
    }
}

.gallery_overlay_video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery_overlay_video_icon {
    font-size: 60px;
    color: #fff;
}
