.standard-action-btn {
    text-transform: uppercase;
    border: 0;
    background-color: #333;
    font-size: 20px;
    padding: 5px 10px;
    color: #fff;
    text-align: center;
    min-width: 4em;
    cursor: pointer;
}

.standard-input-field {
    border: 1px solid #333;
    background-color: #fff;
    padding: 5px 10px;
    font-size: 20px;
}

.action-button {
    background-color: #fff;
    border: 0;
    color: #929d35;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    margin: 10px auto;
    padding: 5px 80px 5px 35px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    position: relative;
}

.action-button:hover {
    color: #929d35;
    background-color: #fff;
}

@media only screen and (max-width: 430px) {
    .action-button {
        padding: 5px 50px 5px 15px;
    }
}

.action-button-container {
    text-align: right;
}

.read-more-button-container {
    display: none;
}

.read-more-text-container.is-truncated ~ .read-more-button-container {
    display: block;
}

.read-more-text-container {
    position: relative;
}

.read-more-button-less-text {
    display: none;
}

.read-more-button-for-expanded .read-more-button-less-text {
    display: inline;
}

.read-more-button-for-expanded .read-more-button-more-text {
    display: none;
}

.message-box {
    background-color: #444;
    font-size: 2em;
    text-align: center;
    color: #fff;
}

.highlight-for-editor {
    outline: 3px solid red;
    outline-offset: -3px;
}

@media (min-width: 768px) {
    .multi-column-text-wide-vw {
        column-count: 2;
        column-gap: 2em;
    }

    /* Workaround for unbalanced margins inside the columns, see
       https://teamtreehouse.com/community/multicolumn-layout-unwanted-linebreak-in-first-column
     */
    .multi-column-text-wide-vw > *:first-child {
        margin-top: 0;
    }

    .multi-column-text-wide-vw > *:last-child {
        margin-bottom: 0;
    }
}


/* decorative arrow down */

.slick-current .decorative-arrow-down,
.active .decorative-arrow-down {
    display: block;
}

.decorative-arrow-down {
    display: none;
}

.decorative-arrow-down-polygon {
    fill: inherit;
}

.decorative-arrow-down {
    position: absolute;
    bottom: 6px;
    left: 50%;
    -webkit-transform: translate(-50%, 100%);
    -ms-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%);
    width: 120px;
    height: 120px;
    z-index: -1;
}

.decorative-arrow-down-polygon {
    stroke: #fff;
    stroke-width: 3px;
}

.image-popup-container {
    position: relative;
}

.image-popup-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    -webkit-transition: background-color 0.25s;
    transition: background-color 0.25s;
}

.image-popup-container:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
}

.image-popup-icon {
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 50px;
    opacity: 0;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    color: rgba(255, 255, 255, 0.75);
}

@media (min-width: 768px) {
    .image-popup-icon {
        font-size: 80px;
    }
}

.image-popup-container:hover .image-popup-icon {
    opacity: 1;
}
