.google-maps-map {
    width: 100%;
    height: 400px;
}

.google-maps-container {
    position: relative;
}

.google-maps-element-no-headings {
    margin-top: 70px;
}

.google-maps-search-form-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: relative;
}

.google-maps-search-form {
    position: absolute;
    top: 25px;
    z-index: 10;
    right: 0;
}

.google-maps-search-btn {
    margin-left: 10px;
}

.google-maps-error-popup {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(120%);
    padding: 0 20px 20px;
    font-size: 1rem;
    text-align: center;
    background: #fff;
}

.google-maps-error-popup {
    display: none;
}

.google-maps-search-input::-webkit-input-placeholder {
    font-size: 16px;
}

.google-maps-search-input::-moz-placeholder {
    font-size: 16px;
}

.google-maps-search-input:-ms-input-placeholder {
    font-size: 16px;
}

.google-maps-search-input::placeholder {
    font-size: 16px;
}

@media (max-width: 768px) {
    .google-maps-element {
        margin: 0 0 30px 0;
    }

    .google-maps-search-form {
        position: relative;
        top: 0;
        margin: 0 0 20px 0;
    }

    .google-maps-search-form-wrap {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media (max-width: 630px) {
    .google-maps-search-input,
    .google-maps-search-btn {
        display: block;
        margin: 5px 0;
        width: 100%;
    }
}
