.slogan {
    position: absolute;
    text-align: center;
    background-color: rgba(228, 228, 228, 0.8);
    top: 0;
    left: 0;
    right: 0;

    /*
    Needs a very high z-index value due to issues
    with picturefill in connection with IE 9
    */
    z-index: 1000;
    padding: 0 2.5%;
}

@media only screen and (max-width: 999px) {
    .slogan {
        position: static;
    }
}

@media only screen and (max-width: 630px) {
    .slogan {
        font-size: 1em;
    }
}

.slogan .title {
    font-size: 4em;
    line-height: 1.25;
    display: block;
    padding: 1em 0 0.25em;
    position: relative;
    text-transform: uppercase;
}

@media only screen and (max-width: 630px) {
    .slogan .title {
        font-size: 2.5em;
    }
}

.slogan .text {
    font-size: 2em;
    display: block;
    position: relative;
    padding-bottom: 2em;
}

@media only screen and (max-width: 630px) {
    .slogan .text {
        width: auto;
    }
}

@media only screen and (max-width: 1134px) {
    .ma_slider .ma_center .slogan .title {
        padding: 20px 0 10px;
    }

    .ma_slider .ma_center .slogan .text {
        padding-bottom: 20px;
    }
}
