.highlights-container-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.highlights-container {
    color: lightgreen;
}

.highlights-box {
    background-color: #e8e2db;
    width: 49.8%;
    padding: 0 20px 20px;
}

.highlights-box-title {
    font-size: 2.5em;
    line-height: 50px;
    line-height: 1.2;
    padding: 22px 0 15px;
}

.highlights-box-text {
    font-size: 2em;
    line-height: 28px;
}

.highlights-box-text ul {
    padding-left: 0;
}

@media only screen and (max-width: 999px) {
    .highlights-box-title {
        font-size: 2.1em;
    }
}

@media only screen and (max-width: 810px) {
    .highlights-container-inner {
        display: block;
    }

    .highlights-box {
        width: 100%;
        display: block;
    }

    .highlights-box:not(:first-child) {
        margin-top: 20px;
    }
}

/*
    highlights image container
 */

@media only screen and (min-width: 1320px) {
    .highlights-image-container::before {
        padding-top: 48.3092%;
    }
}

@media only screen and (max-width: 1320px) {
    .highlights-image-container::before {
        padding-top: 76.9231%;
    }
}

@media only screen and (max-width: 1000px) {
    .highlights-image-container::before {
        padding-top: 62.5%;
    }
}

@media only screen and (max-width: 810px) {
    .highlights-image-container::before {
        padding-top: 37.037%;
    }
}

@media only screen and (max-width: 600px) {
    .highlights-image-container::before {
        padding-top: 56.3333%;
    }
}

@media only screen and (max-width: 450px) {
    .highlights-image-container::before {
        padding-top: 56.2222%;
    }
}
