.image-text-box {
    background-color: #505458;
    color: #fff;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
}

.image-text-box-image-container,
.image-text-box-text {
    flex-basis: 50%;
    padding: 30px 3%;
}

@media (min-width: 768px) {
    .image-text-box {
        display: flex;
    }

    .image-text-box-image-container,
    .image-text-box-text {
        padding: 40px 3%;
    }
}

.image-text-box-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-text-box-image-container {
    background-color: #f7f7fb;
}

.image-text-box-image {
    width: auto;
    height: auto;
    max-width: 100%;
}

.image-text-box-title {
    color: inherit;
    padding: 0;
    margin: 0 0 1em 0;
    font-size: 1.25em;
    text-align: left;
}
