.lang-nav {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 0 10px;
}

@media only screen and (max-width: 990px) {
    .lang-nav {
        position: absolute;
        right: 0;
        top: 0;
    }
}

/* hide list item icon pseudo element */
.lang-nav-item::before {
    display: none;
}

.lang-nav-item {
    display: block;
    padding: 0 5px;
}

@media only screen and (min-width: 431px) {
    .lang-nav-item {
        display: inline-block;
    }

    .lang-nav-item:not(:last-child) {
        border-right: 1px solid;
    }
}

@media only screen and (max-width: 1320px) {
    .lang-nav {
        right: 2.5%;
    }
}
