.loading {
    position: relative;
    text-align: center;
}

.loading-bar {
    display: inline-block;
    width: 4px;
    height: 29px;
    border-radius: 4px;
    -webkit-animation: loading 1s ease-in-out infinite;
    animation: loading 1s ease-in-out infinite;
    margin-right: 5px;
}

.loading-bar:nth-child(1) {
    background-color: #fff;
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

.loading-bar:nth-child(2) {
    background-color: #dadada;
    -webkit-animation-delay: 0.09s;
    animation-delay: 0.09s;
}

.loading-bar:nth-child(3) {
    background-color: #b68746;
    -webkit-animation-delay: 0.18s;
    animation-delay: 0.18s;
}

.loading-bar:nth-child(4) {
    background-color: #fff;
    -webkit-animation-delay: 0.27s;
    animation-delay: 0.27s;
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    20% {
        -webkit-transform: scale(1, 2.2);
        transform: scale(1, 2.2);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes loading {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    20% {
        -webkit-transform: scale(1, 2.2);
        transform: scale(1, 2.2);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.loading-box {
    background-color: #444;
    height: 50px;
}

.loading-box-full-spanning {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
}

.quickrequest_container .loading-box {
    background-color: transparent;
}

/**
 * Lazy loading animation for images
 */

.lazyload,
.lazyloading,
.loading-animation {
    background-image: -webkit-radial-gradient(currentColor 65%, transparent 70%), -webkit-radial-gradient(currentColor 65%, transparent 70%), -webkit-radial-gradient(currentColor 65%, transparent 70%), -webkit-radial-gradient(currentColor 65%, transparent 70%);
    background-image: radial-gradient(currentColor 65%, transparent 70%), radial-gradient(currentColor 65%, transparent 70%), radial-gradient(currentColor 65%, transparent 70%), radial-gradient(currentColor 65%, transparent 70%);
    background-repeat: no-repeat;
    background-size: 2em 2em, 2em 2em, 2em 2em, 2em 2em;
    background-position: calc(50% - 2.6em) 50%, calc(50% - 2.6em) 50%, 50% 50%, calc(50% + 2.6em) 50%;
    -webkit-animation: loadrunner 0.6s infinite;
    animation: loadrunner 0.6s infinite;
}

@-webkit-keyframes loadrunner {
    0% {
        background-size: 0 0, 2em 2em, 2em 2em, 2em 2em;
        background-position: calc(50% - 2.6em) 50%, calc(50% - 2.6em) 50%, 50% 50%, calc(50% + 2.6em) 50%;
    }

    100% {
        background-size: 2em 2em, 2em 2em, 2em 2em, 0 0;
        background-position: calc(50% - 2.6em) 50%, 50% 50%, calc(50% + 2.6em) 50%, calc(50% + 2.6em) 50%;
    }
}

@keyframes loadrunner {
    0% {
        background-size: 0 0, 2em 2em, 2em 2em, 2em 2em;
        background-position: calc(50% - 2.6em) 50%, calc(50% - 2.6em) 50%, 50% 50%, calc(50% + 2.6em) 50%;
    }

    100% {
        background-size: 2em 2em, 2em 2em, 2em 2em, 0 0;
        background-position: calc(50% - 2.6em) 50%, 50% 50%, calc(50% + 2.6em) 50%, calc(50% + 2.6em) 50%;
    }
}
