.multi-slider {
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 50px;
}

@media (max-width: 640px) {
    .multi-slider .decorative-arrow-down.decorative-arrow-down {
        display: none;
    }
}


.multi-slider-item {
    position: relative;
}

.multi-slider-tab-content {
    background-color: #505458;
    padding: 85px 20px 65px;
}

.multi-slider-nested-item {
    background-color: #fff;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Hide all elements after the 3rd to prevent FOUC */
.multi-slider-item-inner:not(.slick-initialized) .multi-slider-nested-item:nth-child(n+4) {
    display: none;
}

.multi-slider-tabs {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    z-index: 10;
    margin-bottom: 7px;
    font-size: 1em;
}

@media (min-width: 1000px) {
    .multi-slider-tabs {
        font-size: 1.25em;
    }
}

.multi-slider-tab-selector {
    padding: 0;
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
}

@media (min-width: 420px) {
    .multi-slider-tab-selector {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .multi-slider-tab-selector {
        width: 25%;
    }
}

.multi-slider-tab-selector::before {
    content: none;
}

.multi-slider-tab-selector.active {
    background-color: #505458;
    fill: #505458;
    color: #fff;
}

.multi-slider-tab-title {
    padding: 15px 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

@media (min-width: 640px) {
    .multi-slider-tab-title {
        padding: 35px 20px;
    }
}

.multi-slider-tab-selector.active .multi-slider-tab-title,
.multi-slider-tab-title,
.multi-slider-tab-title:hover {
    color: inherit;
}

.multi-slider-item-title {
    font-weight: bold;
}
