.showcase-slider-switcher {
    position: relative;
    margin-bottom: -59px;
    z-index: 10;
    overflow: hidden;
    /* the slides */
    /* the parent */
}

.slick-current .showcase-slider-switcher-item {
    background-color: #c6baae;
    color: #fff;
}



.showcase-slider-switcher .text {
    padding: 15px 20px;
}

.showcase-slider-switcher .title {
    font-size: 2.2em;
    font-weight: 700;
}

.showcase-slider-switcher .season,
.showcase-slider-switcher .price {
    font-size: 2em;
}

.showcase-slider-switcher-item-outer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 32.23%;
    outline: none;
    cursor: pointer;
}

.showcase-slider-switcher-item-outer.specialoffer {
    width: 100%;
}

.showcase-slider-switcher .slick-slide {
    margin: 0 10px;
}

.showcase-slider-switcher .slick-list {
    margin: 0 -10px;
}

.showcase-slider-switcher .slick-slider {
    overflow: hidden;
}

.showcase-slider-switcher-item {
    background-color: #f3f0ed;
    position: relative;
    margin-bottom: 66px;
    width: 100%;
}

.specialoffer .showcase-slider-switcher-item {
    margin-bottom: 0;
}

.showcase-slider-switcher-item:nth-child(2) {
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.showcase-slider-switcher-item.slick-slide:nth-child(2) {
    margin: auto;
}

.offer.container .offer_detail::before,
.offer.container .offer_detail::after {
    content: " ";
    display: table;
}

.offer.container .offer_detail::after {
    clear: both;
}

.offer.container .offer_detail .item {
    padding: 70px 20px 20px;
    background-color: #c6baae;
}

@media only screen and (max-width: 900px) {
    .offer .offer_category_view .offer_detail .item {
        padding: 20px;
    }
}

@media only screen and (max-width: 630px) {
    .offer.container .offer_detail .item {
        padding-top: 45px;
    }
}

.offer.container .offer_detail .item.special .request.scroll {
    margin-bottom: 35px !important;
}

.offer.container .offer_detail .title {
    font-size: 4.2em;
}

@media only screen and (max-width: 630px) {
    .offer.container .offer_detail .title {
        font-size: 2.5em;
    }
}

.offer.container .offer_detail .subtitle {
    font-size: 2em;
    padding-top: 5px;
    width: 75%;
    margin: 0 auto;
}

.offer.container .offer_detail .request.scroll {
    display: inline-block;
    position: relative;
    top: auto;
    margin-top: 35px;
    float: right;
    padding: 10px 105px 10px 35px;
}

.offer.container .offer_detail .request.scroll span {
    display: inline-block;
}

.offer.container .offer_detail .price {
    margin-bottom: 30px;
    font-size: 2em;
    padding-top: 20px;
}

@media only screen and (max-width: 600px) {
    .offer.container .offer_detail .price .responsive_table {
        overflow-x: scroll;
    }

    .offer.container .offer_detail .price .responsive_table table {
        min-width: 600px;
    }
}

.offer.container .offer_detail .text {
    font-size: 2em;
}

@media only screen and (max-width: 1246px) {
    .offer.container .offer_detail .price table .season {
        width: 50%;
    }
}

@media only screen and (max-width: 1051px) {
    .offer.container .offer_detail .subtitle {
        padding: 10px 0;
        width: 100%;
    }
}

@media only screen and (max-width: 630px) {
    .offer.container .offer_detail .request.scroll {
        width: 100%;
        padding: 6px 40px 6px 6px;
        font-size: 2em;
        float: none;
        text-align: center;
        display: block;
    }

    .offer.container .offer_detail .request.scroll::after {
        bottom: 12px;
        right: 25px;
        font-size: 17px;
    }
}

@media only screen and (max-width: 500px) {
    .offer.container .offer_detail .request.scroll::after {
        display: none;
    }
}

.offer_detail .text-box-wrapper {
    display: table;
    table-layout: fixed;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-top: -20px;
    border-spacing: 20px;
}

.offer_detail .intro {
    text-align: center;
    margin: 10px 0 40px;
}

.offer_detail .text-box {
    display: table-cell;
    background-color: #fff;
    padding: 25px 35px 35px;
}

@media only screen and (max-width: 999px) {
    .offer_detail .text-box {
        display: block;
    }
}

@media only screen and (max-width: 630px) {
    .offer_detail .text-box {
        padding: 15px;
    }
}

.offer_detail .text-box-more-info {
    width: 60%;
}

@media only screen and (max-width: 999px) {
    .offer_detail .text-box-more-info {
        display: block;
        width: 100%;
    }
}

/*  Define aspect ratio for various breakpoints as */


/*  they are defined in the <picture> element */

@media only screen and (min-width: 1000px) {
    .showcase-slider-full-width-image-container::before {
        padding-top: 33.89091%;
    }
}

@media only screen and (max-width: 999px) {
    .showcase-slider-full-width-image-container::before {
        padding-top: 33.93413%;
    }
}

@media only screen and (max-width: 700px) {
    .showcase-slider-full-width-image-container::before {
        padding-top: 49.8%;
    }
}

@media only screen and (max-width: 600px) {
    .showcase-slider-full-width-image-container::before {
        padding-top: 49.8%;
    }
}

@media only screen and (min-width: 1320px) {
    .showcase-slider-image-container::before {
        padding-top: 46.39091%;
    }
}

@media only screen and (max-width: 1320px) {
    .showcase-slider-image-container::before {
        padding-top: 46.46667%;
    }
}

@media only screen and (max-width: 700px) {
    .showcase-slider-image-container::before {
        padding-top: 49.8%;
    }
}

@media only screen and (max-width: 600px) {
    .showcase-slider-image-container::before {
        padding-top: 66.46667%;
    }
}

@media only screen and (max-width: 400px) {
    .showcase-slider-image-container::before {
        padding-top: 66.46667%;
    }
}

/*
Fix for gaps above image due to rounding ssues in browsers
TODO: is there a better way to do this?
*/
@supports (object-fit: cover) {
    .showcase-slider-image-container img {
        height: 101%;
        object-fit: cover;
    }
}

.offer.container .offer_category_view .showcase-slider-switcher {
    margin-bottom: 0;
}

.offer_category_view.offer_category_view .offer_detail .item {
    padding-top: 30px;
}

.offer.container .offer_category_view .showcase-slider-switcher .item {
    margin-bottom: 0;
}

.offer_category_view .showcase-slider-switcher-item-outer {
    cursor: default;
}

.request-offer-button-icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 25px;
    font-size: 0.8em;
}

@media only screen and (max-width: 630px) {
    .request-offer-button-icon {
        right: 18px;
    }
}

.offer-slider-wrapper {
    position: relative;
}

.offer_from_category_slider {
    position: relative;
}

.showcase-slider-container-loading {
    height: 1300px;
}

.showcase-slider-item-overlay {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    font-size: 3.5em;
    color: #fff;
}

.showcase-slider-item-overlay:hover {
    opacity: 1;
}

.showcase-slider-item-gallery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.showcase-slider-item-gallery-item {
    width: 50%;
}

/* Hide all but the first four elements */
.showcase-slider-item-gallery-item:nth-child(n + 5) {
    display: none;
}

@media only screen and (min-width: 576px) {
    .showcase-slider-item-gallery-item {
        width: 25%;
    }
}
