.header-logos-wrapper {
    width: 50%;
    float: left;
}

.header .logo {
    display: inline-block;
    padding: 0 2%;
    position: relative;
    max-width: 50%;
}

.header .logo:first-child {
    padding-left: 0;
}

.header .logo:last-child:not(:only-child) {
    padding-right: 0;
}

.header .logo:only-child {
    padding-right: 0;
}

@media only screen and (max-width: 990px) {
    .header-logos-wrapper {
        width: 100%;
        float: none;
    }

    .header .logo {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .header .logo {
        padding-left: 0;
        padding-right: 0;
    }
}

.header .right {
    display: inline-block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: right;
    max-width: 49%;
    vertical-align: bottom;
    float: right;
}

@media only screen and (max-width: 990px) {
    .header .right {
        max-width: none;
        float: none;
        text-align: center;
        display: block;
    }
}

.header .right .request {
    display: inline-block;
    padding: 10px 61px 10px 26px;
    vertical-align: middle;
}

.header .right .request::after {
    /* .icon-lp-arrow-right-2 */
    content: "\e911";
    position: absolute;
    top: 50%;
    right: 21px;
    font-size: 20px;
    font-family: 'standard-lp-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media only screen and (max-width: 1370px) {
    .header .line.first {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .header .slogan .title {
        padding: 20px 0 10px;
    }

    .header .slogan .text {
        padding-bottom: 35px;
    }
}

@media only screen and (max-width: 880px) {
    .header .right {
        width: 100%;
        text-align: center;
    }

    .header .right .request {
        width: 80%;
    }

    .header .ma_center {
        text-align: center;
    }

    .header .hotel_logo {
        width: 25%;
    }

    .header .line.third {
        display: none;
    }
}

@media only screen and (max-width: 760px) {
    .header .request.scroll {
        width: 100%;
        padding: 6px;
        font-size: 2em;
    }

    .header .request.scroll::after {
        right: 25px;
        font-size: 17px;
    }
}

@media only screen and (max-width: 550px) {
    .header .request.scroll::after {
        right: 8px;
    }
}

@media only screen and (max-width: 480px) {
    .header .request.scroll::after {
        display: none;
    }

    .header .hotel_logo {
        width: 42%;
    }
}

.header_slider .prev {
    left: 0;
}

.header_slider .next {
    right: 0;
}

.main-header-slider-img {
    object-fit: cover;
    /* OK, weird syntax here.
  It’s for https://github.com/bfred-it/object-fit-images/tree/v2.5.3 */
    font-family: 'object-fit: cover;';
    height: 768px;
}

@media only screen and (max-width: 999px) {
    .main-header-slider-img {
        height: auto;
    }
}

.main-header-variant-container {
    position: relative;
}

.h_top {
    padding: 40px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

    /* For clearfixing */
    overflow: auto;
}

@media only screen and (max-width: 1320px) {
    .h_top.h_top {
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
}

@media only screen and (max-width: 990px) {
    .header-logos-wrapper {
        text-align: center;
    }

    .h_top.h_top {
        padding-top: 0;
        margin-top: 10px;
        padding-bottom: 20px;
        text-align: center;
        display: block;
    }
}

.header_slider:not(.loaded) .item:not(:first-child) {
    display: none;
}
