.footer {
    padding: 3em 0 8em;
}

@media only screen and (max-width: 1350px) {
    .footer {
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
}

.main-footer-inner {
    /* Clearfix for browsers that don’t support flexbox */
    overflow: hidden;
}

@media only screen and (min-width: 968px) {
    .main-footer-inner {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

.footer .left {
    display: inline-block;
    float: left;
    margin-right: 20px;
}

.footer .right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    float: right;
    font-size: 1.3em;
    margin-left: 20px;
    text-align: right;
}

.powered-by-link {
    background-image: url('https://cdn.bnamic.com/brandnamic_files/powered_by/bn_favicon_16x16.svg');
    background-position: right center;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 0 23px 0 0;
}

a.powered-by-link.powered-by-link {
    box-shadow: none;
}

.footer .right .legal-menu,
.footer .right .brandnamic {
    display: inline-block;
}

.legal-menu a {
    margin-left: 8px;
    position: relative;
    color: inherit;
}

.legal-menu {
    margin-bottom: 25px;
}

@media only screen and (max-width: 967px) {
    .footer .left,
    .footer .right {
        text-align: center;
        float: none;
        display: block;
        margin-left: 0;
        margin-right: 0;
    }

    .footer .left {
        width: auto;
    }

    .footer .right {
        margin-top: 36px;
        line-height: 20px;
    }
}
