/**
 * Partner logos
 */

.partner-logos {
    overflow: hidden;
}

.partner-logos-item {
    padding: 12px;
}

.partner-logos-list {
    margin: -12px;
}

@media only screen and (min-width: 968px) {
    .partner-logos {
        margin-top: 40px;
    }
}
