.phone-call-button {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: lightblue;
    border-radius: 100%;
    bottom: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 60px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    right: 15px;
    width: 60px;
    will-change: transform;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    z-index: 1010;
}

.phone-call-button-hidden {
    -webkit-transform: translateX(calc(100% + 15px));
    -ms-transform: translateX(calc(100% + 15px));
    transform: translateX(calc(100% + 15px));
}


@media (min-width: 768px) {
    .phone-call-button {
        display: none;
    }
}
