.content-quote-boxes-container {
    margin-top: 60px;
    margin-bottom: 40px;
}

.content-quote-boxes-container .quote-box {
    margin: 15px 0;
    padding: 15px;
}

@media only screen and (max-width: 630px) {
    .content-quote-boxes-container .quote-box {
        padding: 15px 0;
    }
}

.quote-slider {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(243, 240, 237, 0.85);

    /*
    Needs a very high z-index value due to issues
    with picturefill in connection with IE 9
   */
    z-index: 1000;
}

.quote-slider .quote-box {
    background-color: transparent;
}

@media only screen and (max-width: 999px) {
    .quote-slider {
        position: static;
    }
}

.quote-slider .quote-box-text-wrap {
    display: block;
}

.js-quote-slider:not(.loaded) .quote-box:not(:first-child) {
    display: none;
}

.quote-box {
    display: table;
    table-layout: fixed;
    width: 100%;
    outline: none;
    font-size: 2em;
    background-color: #f3f0ed;
}

@media only screen and (max-width: 630px) {
    .quote-box {
        font-size: 2em;
        display: block;
    }
}

.quote-box-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 930px;
}

.quote-box-logo-container {
    display: table-cell;
    vertical-align: middle;
    width: 30%;
    padding-left: 17px;
    padding-right: 5%;
}

@media only screen and (max-width: 1000px) {
    .quote-box-logo-container {
        width: 50%;
    }
}

@media only screen and (max-width: 630px) {
    .quote-box-logo-container {
        width: 100%;
        display: block;
        margin-top: 20px;
    }
}

.quote-box-logo-container img,
.quote-box-logo-container svg {
    width: 100%;
}

.quote-box-text-wrap {
    padding: 17px 70px;
    position: relative;
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

@media only screen and (max-width: 630px) {
    .quote-box-text-wrap {
        padding: 17px 45px;
    }
}

.quote-box-text-wrap .icon-lp-quote-opening {
    position: absolute;
    font-size: 31px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
}

@media only screen and (max-width: 630px) {
    .quote-box-text-wrap .icon-lp-quote-opening {
        font-size: 20px;
    }
}

.quote-box-text-wrap .first-icon {
    left: 17px;
}

.quote-box-text-wrap .second-icon {
    right: 17px;
    -webkit-transform: rotate(180deg) translateY(50%);
    -ms-transform: rotate(180deg) translateY(50%);
    transform: rotate(180deg) translateY(50%);
}

.quote-box-additional-info a:not(:hover) {
    color: inherit;
}

.quote-box-additional-info-item:not(:first-child)::before {
    content: ',\00a0';
}

.quote-box-logo + .quote-box-text-wrap {
    width: auto;
}
