/* Quickrequest */

.qr {
    background-color: #f3f0ed;
}

.qr .request {
    font-size: 2.5em;
    background-color: #ae9c8c;
    padding: 0.2em 0;
}

@media only screen and (max-width: 1350px) {
    .qr .request .text {
        margin-left: 2.5%;
    }

    .qr.loaded {
        margin-left: 2.5%;
        margin-right: 2.5%;
        width: 95% !important;
    }
}

.quickrequest.container {
    overflow: hidden;
}

/*  Form overrides */

.bn__form-grid .bn__form-grid__column--no-top-left-padding.bn__form-grid__column--no-top-left-padding {
    padding-top: 0;
    padding-left: 0;
}

@media only screen and (max-width: 1000px) {
    .bn__form-grid .bn__form-grid__column--no-top-left-padding.bn__form-grid__column--no-top-left-padding {
        padding-right: 0;
    }
}

.bn__form-grid .bn__form-grid__column--no-left-padding.bn__form-grid__column--no-left-padding {
    padding-left: 0;
}

@media only screen and (max-width: 1000px) {
    .bn__form-grid .bn__form-grid__column--no-left-padding.bn__form-grid__column--no-left-padding {
        padding-left: 80px;
    }
}

@media only screen and (max-width: 600px) {
    .bn__form-grid .bn__form-grid__column--no-left-padding.bn__form-grid__column--no-left-padding {
        padding-left: 10px;
    }

    .quickrequest_container .bn__form-grid .bn__form-grid__column .bn__form-grid__column--no-top-left-padding .bn__form-grid__column__overlay {
        right: 0;
    }
}

@media only screen and (min-width: 601px) {
    .quickrequest_container .bn__form-grid .bn__form-grid__column .bn__form-grid__column--no-top-left-padding .bn__form-grid__column__overlay {
        top: 0;
    }
}

.quickrequest_container label {
    padding-left: 72px !important;
}

@media only screen and (max-width: 600px) {
    .quickrequest_container label {
        padding-left: 0 !important;
    }
}

.bn__form-grid .bn__form-grid__row--last {
    margin-top: 20px;
}

#collective select,
#collective input,
#collective label {
    font-size: 2em !important;
}

#collective label {
    line-height: 1.1;
}

[for$="_privacy"] a:not(:hover) {
    color: inherit;
}

@media only screen and (max-width: 1200px) {
    #collective label {
        font-size: 1.5em !important;
        line-height: 1.5;
    }
}

@media only screen and (max-width: 1000px) {
    #collective label {
        font-size: 2em !important;
        line-height: 1.1;
    }
}

/*  Needs a hight specifity */

input.bn__form-grid__invalid.bn__form-grid__invalid.bn__form-grid__invalid {
    padding-right: 1.3em;
}

#collective .bn__form-grid .bn__form-grid__column .bn__form-grid__column__controls .bn__form-grid__column__controls__item {
    width: 32px;
    height: 32px;
    font-size: 2em;
    float: none;
    display: inline-block;
    position: relative;
    border-radius: 0;
}

#collective .bn__form-grid .bn__form-grid__column .bn__form-grid__column__controls {
    text-align: right;
    padding: 0;
}

#collective .bn__form-grid .bn__form-grid__column .bn__form-grid__column__controls .bn__form-grid__column__controls__item--plus {
    margin-right: 2px;
}

.bn__form-grid .bn__form-grid__button {
    border-radius: 0;
}

.bn__form-grid__column__controls__item--plus,
.bn__form-grid__column__controls__item--minus {
    padding: 0;
}

.bn__form-grid__column__controls__item--plus::before,
.bn__form-grid__column__controls__item--minus::before {
    background-color: #333;
    font-family: 'standard-lp-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    line-height: 32px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#collective .bn__form-grid .bn__form-grid__column .bn__form-grid__column__controls .bn__form-grid__column__controls__item {
    padding: 0;
}

.bn__form-grid__column__controls__item--plus::before {
    /* .icon-lp-plus-sign */
    content: "\e90a";
}

.bn__form-grid__column__controls__item--minus::before {
    /* .icon-lp-minus-sign */
    content: "\e90c";
}

.bn__form-grid__column__controls__item--plus::before,
.bn__form-grid__column__controls__item--minus::before,
.bn__form-grid .bn__form-grid__button--low-impact,
.bn__form-grid .bn__form-grid__button--low-impact:hover {
    background-color: #e8e2db;
    color: #fff;
}

.bn__form-grid {
    font-family: inherit;
}

.bn__form-grid .bn__form-grid__button {
    color: #444;
    border: 0;
}

.bn__form-grid__comment::-webkit-input-placeholder {
    color: #444;
}

.bn__form-grid__comment::-moz-placeholder {
    color: #444;
}

.bn__form-grid__comment:-ms-input-placeholder {
    color: #444;
}

.bn__form-grid__comment::placeholder {
    color: #444;
}

.bn__form-grid__required-label {
    font-size: 16px;
    display: inline-block;
    float: right;
    margin-top: -1.2em;
}

.bn__form-grid__icon--calendar.bn__form-grid__icon--calendar {
    font-family: 'standard-lp-icons' !important;
}

.bn__form-grid__icon--calendar.bn__form-grid__icon--calendar::before {
    content: "\e900";
}

.quickrequest_container {
    position: relative;
    padding-bottom: 40px;
}

.quickrequest_container_loaded {
    margin: 20px -10px 0 -80px;
}

@media only screen and (max-width: 600px) {
    .quickrequest_container {
        margin: 0;
    }
}

.quickrequest_container .bn__form-grid .bn__form-grid__column .bn__form-grid__column__item.bn__form-grid__column--sm-12 {
    width: 100%;
}

.quickrequest_container .bn__form-grid__column__messages__item {
    display: none !important;
}

.quickrequest_container .bn__form-grid .bn__form-grid__block {
    border: none;
}

.quickrequest_container .bn__form-grid {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 100%;
    padding: 5px 0;
}

.quickrequest_container label,
.quickrequest_container input {
    font-size: 2em;
}

.quickrequest_container label {
    width: 11%;
}

.quickrequest_container input,
.quickrequest_container select {
    background-color: #fff;
    border: none;
}

.quickrequest_container input[type="checkbox"] {
    background-color: transparent;
}

.quickrequest_container select {
    font-size: 2em;
}

.quickrequest_container input {
    padding-left: 15px;
}

/* Fix for non-centered select boxes in Firefox on macOS */
.quickrequest_container .bn__form-grid .bn__form-grid__column select.bn__form-grid__column__item {
    min-height: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.quickrequest_container .picker__holder {
    top: 38px;
    right: 0;
}

.quickrequest_container label[for="collective_fromdate"],
.quickrequest_container label[for="collective_todate"] {
    width: 33% !important;
}

@media (min-width: 768px) {
    .quickrequest_container .bn__form-grid__block__child-ages .bn__form-grid__column {
        float: none;
        width: 33.33333333% !important;
    }

    .quickrequest_container .bn__form-grid__block__child-ages .bn__form-grid__column label {
        text-align: left;
    }
}

.bn__form-grid .bn__form-grid__column textarea.bn__form-grid__column__item {
    min-height: 71px;

    /* Needs an explicit height, otherwise IE
    and Firefox height would be higher than min-height above */
    height: 2.5em;
}

.quickrequest_container #collective_comment,
.quickrequest_container #collective_todate {
    background-color: #fff;
    border: none;
    line-height: 22px;
    font-size: 2em;
}

.quickrequest_container #collective_todate,
.quickrequest_container #collective_fromdate {
    width: 67%;
}

.picker__nav--prev,
.picker__nav--next {
    height: 2em;
}

.bn__form-grid__column__overlay {
    pointer-events: none;
}

.quickrequest_container .bn__form-grid .bn__form-grid__column .bn__form-grid__column__overlay {
    font-size: 2em;
    color: #a1a1a1;
}

.quickrequest_container .bn__form-grid .bn__form-grid__column .bn__form-grid__column__overlay .bn__form-grid__icon--checkmark {
    color: #77ad6d;
}

.quickrequest_container .bn__form-grid .bn__form-grid__column .bn__form-grid__column__overlay .bn__form-grid__icon--cross {
    color: #8f3166;
}

.quickrequest_container #collective .bn__form-grid__column .bn__form-grid__column__item--quarter.bn__form-grid__js--counter {
    width: calc(50% - 81px);
}

.quickrequest_container #collective .bn__form-grid .bn__form-grid__column .bn__form-grid__column__controls {
    width: 81px;
}

.bn__form-grid__block__child-ages .bn__form-grid__row {
    margin-right: 0;
    margin-left: 0;
}

.bn__form-grid__block__child-ages {
    margin-top: 10px;
}

.bn__form-grid__block__child-ages .bn__form-grid__column {
    padding-left: 10px;
}

.quickrequest_container .error {
    border: 1px solid #640000;
    background: #f99 !important;
    color: #640000;
    padding: 5px;
}

.quickrequest_container .bn__form-grid .bn__form-grid__column .bn__form-grid__column__item.bn__form-grid__js--submit {
    display: block;
    width: 100%;
    font-size: 3em !important;
    text-align: center;
    padding: 20px 70px;
    margin-bottom: 0;
    margin-top: 20px;
}

/* Place submit button above badge on smaller viewport-widths */

@media only screen and (max-width: 1000px) {
    .bn__form-grid__row--last {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .bn__form__submit-button-container {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }

    .bn__form__badge-container {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
    }

    .quickrequest_container .bn__form-grid .bn__form-grid__column .bn__form-grid__column__item.bn__form-grid__js--submit {
        margin-top: 0;
    }

    .bn__form__badge-container.bn__form__badge-container {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 1080px) {
    .quickrequest_container .bn__form-grid .bn__form-grid__column .bn__form-grid__column__item.bn__form-grid__js--submit {
        font-size: 2.5em !important;
    }
}

@media only screen and (max-width: 950px) {
    .quickrequest_container .bn__form-grid .bn__form-grid__column .bn__form-grid__column__item.bn__form-grid__js--submit {
        font-size: 3em !important;
    }
}

@media only screen and (max-width: 480px) {
    .quickrequest_container .bn__form-grid .bn__form-grid__column .bn__form-grid__column__item.bn__form-grid__js--submit {
        padding: 20px 40px;
    }
}

.quickrequest_container .bn__form-grid .bn__form-grid__column .bn__form-grid__column__item.bn__form-grid__js--submit .bold {
    font-weight: 800;
}

.quickrequest_container .bn__form-grid__js--submit {
    float: none;
    margin: auto;
}

.quickrequest_container .bn__form-grid__js--submit .bn__form-grid__column__item {
    float: none;
    border-radius: 0;
}

.quickrequest_container .error {
    display: none;
}

@media only screen and (max-width: 1080px) {
    .quickrequest_container label,
    .quickrequest_container input {
        font-size: 1.7em;
    }

    .quickrequest_container .bn__form-grid .bn__form-grid__column.submit_button {
        width: 80%;
    }
}

@media only screen and (max-width: 1000px) {
    .quickrequest_container .bn__form-grid .bn__form-grid__column--xs-12,
    .quickrequest_container .bn__form-grid__column-xs-12 {
        width: 100%;
    }

    .quickrequest_container label[for="collective_fromdate"],
    .quickrequest_container label[for="collective_todate"] {
        width: 50% !important;
    }

    .quickrequest_container #collective_todate,
    .quickrequest_container #collective_fromdate {
        width: 50%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {
    .bn__form-grid__block__child-ages .bn__form-grid__column {
        margin-left: 0;
        padding-left: 0;
    }

    .bn__form-grid__block__child-ages .bn__form-grid__column.bn__form-grid__column.bn__form-grid__column {
        width: 100% !important;
    }

    .bn__form-grid__block__child-ages select.bn__form-grid__column__item.bn__form-grid__column__item {
        width: 16%;
    }
}

@media only screen and (max-width: 600px) {
    .bn__form-grid__block__child-ages .bn__form-grid__column {
        margin-left: 0;
        padding-left: 0;
    }
}

@media only screen and (max-width: 850px) {
    .quickrequest_container label,
    .quickrequest_container input {
        font-size: 2em;
    }
}

@media only screen and (max-width: 1000px) {
    #collective .bn__form-grid .bn__form-grid__column .bn__form-grid__column__item--quarter {
        width: 16%;
    }

    #collective .bn__form-grid .bn__form-grid__column .bn__form-grid__column__controls {
        width: 78px !important;
    }
}

@media only screen and (max-width: 700px) {
    .quickrequest_container .bn__form-grid .bn__form-grid__column.submit_button {
        width: 100%;
        padding: 0;
    }
}

@media only screen and (max-width: 600px) {
    .quickrequest_container label[for="collective_fromdate"],
    .quickrequest_container label[for="collective_todate"] {
        width: 100% !important;
    }

    .quickrequest_container #collective_todate,
    .quickrequest_container #collective_fromdate {
        width: 100%;
    }

    .quickrequest_container .bn__form-grid .bn__form-grid__column .bn__form-grid__column__overlay {
        bottom: 5px;
        top: auto;
    }

    .bn__form-grid .bn__form-grid__column .bn__form-grid__column__item {
        width: 100%;
    }

    #collective .bn__form-grid .bn__form-grid__column .bn__form-grid__column__item--quarter {
        width: calc(100% - 78px);
    }

    .quickrequest_container .bn__form-grid .bn__form-grid__column .bn__form-grid__column__item.bn__form-grid__js--submit {
        font-size: 2.5em !important;
        padding-top: 13px;
    }
}

/* Styles to apply prior the form is loaded to minimize content jumps */

.request-form-outer-loading {
    height: 1100px;
}

.quickrequest_container {
    /* make the request form appeas smoothly */
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    opacity: 1;
}

.request-form-outer-loading .quickrequest_container {
    opacity: 0;
}

@media only screen and (min-width: 601px) {
    .request-form-outer-loading {
        height: 830px;
    }
}

@media only screen and (min-width: 1001px) {
    .request-form-outer-loading {
        height: 600px;
    }
}
