.selected-item-box {
    background-color: #fbf9f8;
}

.selected-item-box-close-button {
    position: absolute;
    right: 25px;
    cursor: pointer;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 0;
    background-color: transparent;
    color: inherit;
    padding: 0;
    margin: 0;
}

.selected-item-box-header-bar {
    font-size: 2.5em;
    background-color: #ae9c8c;
    line-height: 2;
    position: relative;
}

.selected-item-box-inner {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.selected-item-box-text {
    padding-left: 54px;
    font-size: 2em;
    margin-top: 35px;
}

.selected-item-box-title {
    font-weight: 700;
}

@media only screen and (max-width: 700px) {
    .selected-item-box-image {
        width: 37%;
    }

    .selected-item-box-text {
        padding-left: 29px;
        margin-top: 13px;
    }
}

@media only screen and (max-width: 651px) {
    .selected-item-box-inner {
        display: block;
    }
    .selected-item-box-text {
        text-align: center;
        padding: 0;
    }

    .selected-item-box-image {
        margin: auto;
        width: 79%;
    }
}

@media only screen and (min-width: 701px) {
    .selected-item-box-image {
        width: 336px;
    }
}
