.slider-arrow {
    padding: 1px;
    border: 0;
    margin: 0;
    position: absolute;
    font-size: 20px;
    z-index: 5;
    color: #fff;
    width: 33px;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: auto;
    cursor: pointer;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slider-arrow:focus {
    outline: 1px solid #fff;
}

.slider-arrow-fixed {
    position: fixed;
}

.slider-arrow-prev {
    left: -13px;
}

.slider-arrow-next {
    right: -13px;
}

@media only screen and (max-width: 630px) {
    .slider-arrow-prev {
        left: -2.5%;
    }

    .slider-arrow-next {
        right: -2.5%;
    }
}

.slider-arrows-sticky-container {
    position: absolute;
    /* Span over the entire non-static parent element */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    z-index: 20;
}

.slider-arrows-sticky-inner {
    /* 50 % of the viewport height minus half of the arrow icon height */
    top: calc(50vh - 36px);
    position: -webkit-sticky;
    position: sticky;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 72px;
}

.slider-arrows-sticky-container .slider-arrow {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    top: 0;
}

.slider-with-dots {
    width: 100%;
    position: relative;
}

.slider-with-dots:not(.slick-initialized) picture:not(:first-child),
.slider-with-dots:not(.slick-initialized) img:not(:first-child):not(:last-child),
.slider-with-dots:not(.slick-initialized) .img-aspect-ratio-container:not(:first-child) {
    display: none;
}

/* Hide slider arrows that are not clickable */
.slick-disabled {
    display: none !important;
}

.slick-dots {
    padding: 0;
    margin: 0;
    text-align: right;
}

.slick-dots li,
.owl-dot.owl-dot {
    padding: 0;
    display: inline-block;
    margin: 10px 0;
}

.slick-dots li:not(:first-child),
.owl-dot:not(:first-child) {
    margin-left: 10px;
}

.slick-dots li::before {
    content: none;
}

.slider-nav-dot,
.owl-dot {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: currentColor;
    outline: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
    cursor: pointer;
    opacity: 0.3;
}


/* Needs to be the immediate children selector */

.slick-active > .slider-nav-dot,
.owl-dot.active {
    opacity: 1;
}


/**
 * Margin between slides,prevents horizontal scrollbars on page
 */

.slider-margin-slick {
    overflow: hidden;
}

.slider-margin-slick .slick-list {
    margin: 0 -10px;
}

.slider-margin-slick .slick-slide {
    margin: 0 10px;
}

.slider-small-margin-slick {
    overflow: hidden;
}

.slider-small-margin-slick .slick-list {
    margin: 0 -1px;
}

.slider-small-margin-slick .slick-slide {
    margin: 0 1px;
}


/**
 * Flexbox slick slider (equal height elements)
 */

.flex-slick-slider .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flex-slick-slider .slick-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: auto;
}

.slider-nav-overlay {
    position: absolute;
    width: 100%;
    pointer-events: none;
}

/**
 * Hack for Safari, see https://github.com/kenwheeler/slick/issues/1868
 * Overcome the overlapping of 1px of previous/next slide in Safari
 */

.slider-with-dots {
    overflow: hidden;
}

.slider-with-dots .slick-list {
    width: calc(100% + 2px);
    left: -1px;
}
