.tab-slider-box-slider-outer {
    position: relative;
}

@media only screen and (max-width: 1050px) {
    .tab-slider-box-slider-outer .slick-dots {
        padding-right: 4%;
    }
}

.tab-slider-box-item {
    outline: none;
}

.tab-slider-box-image-slider {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.tab-slider-box-switcher {
    font-size: 2em;
    line-height: 1.2;
}

.tab-slider-box-switcher .slick-current.slick-active {
    background-color: #ae9c8c;
    color: #fff;
}

.tab-slider-box-switcher-item {
    padding: 17px 14px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    cursor: pointer;
    outline: none;
    background-color: #f3f0ed;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}


/* Hide all but first select slider elements to prevent */

.tab-slider-box-switcher:not(.slick-initialized) .title:nth-child(n + 2) {
    display: none;
}

.tab-slider-box-item {
    background-color: #ae9c8c;
    padding: 5px;
    color: #fff;
    position: relative;
}

.tab-slider-box-item-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.tab-slider-box-text-container,
.tab-slider-box-image-wrapper {
    width: 50%;
}

.tab-slider-box-text-container {
    padding: 3rem 4% 10px;
}

.tab-slider-box-headline {
    margin-bottom: 1em;
    font-size: 2.5em;
}

.tab-slider-box-additional-text {
    margin-top: 1em;
}

.tab-slider-box-body-text {
    margin-bottom: 1em;
    font-size: 2em;
    line-height: 1.4;
}

@media only screen and (max-width: 1240px) {
    .tab-slider-box-text-container {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media only screen and (max-width: 1180px) {
    .tab-slider-box-image-wrapper {
        width: 40%;
    }

    .tab-slider-box-text-container {
        width: 60%;
    }
}

@media only screen and (max-width: 1050px) {
    .tab-slider-box-item-inner {
        display: block;
        position: relative;
    }

    .tab-slider-box-image-wrapper,
    .tab-slider-box-text-container {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .tab-slider-box-headline {
        text-align: center;
    }

    .tab-slider-box-headline-part {
        display: block;
    }
}

@media only screen and (min-width: 501px) {
    .tab-slider-box-headline-part:not(:first-child)::before {
        content: ' | ';
    }
}

/*  Define aspect ratio for various breakpoints as */
/*  they are defined in the <picture> element */

@media only screen and (max-width: 1320px) {
    .tab-slider-box-image-container::before {
        padding-top: 92.10769%;
    }
}

@media only screen and (max-width: 1180px) {
    .tab-slider-box-image-container::before {
        padding-top: 120.28193%;
    }
}

@media only screen and (max-width: 1050px) {
    .tab-slider-box-image-container::before {
        padding-top: 37.8%;
    }
}

@media only screen and (max-width: 768px) {
    .tab-slider-box-image-container::before {
        padding-top: 37.82083%;
    }
}

@media only screen and (max-width: 600px) {
    .tab-slider-box-image-container::before {
        padding-top: 53.13333%;
    }
}

@media only screen and (max-width: 450px) {
    .tab-slider-box-image-container::before {
        padding-top: 62.02222%;
    }
}

@media only screen and (min-width: 1320px) {
    .tab-slider-box-image-container::before {
        padding-top: 60.40606%;
    }
}

/* Hide all images but first in slider to prevent FOUC */
.owl-carousel:not(.owl-loaded) .tab-slider-box-image-container:not(:first-child) {
    display: none;
}

/* Prevent FOUC in slider */
.tab-slider-box-slider:not(.slick-initialized) .tab-slider-box-item:not(:first-child),
.tab-slider-box-switcher:not(.slick-initialized) .tab-slider-box-switcher-item:not(:first-child) {
    display: none;
}

.tab-slider-box-loading {
    height: 500px;
}
