.video-teaser {
    padding: 4%;
    background-color: #f7f7fb;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* intrinsic aspect ratio of 16:9 for the video */
.video-teaser::before {
    padding-bottom: 56.25%;
    content: '';
    display: block;
}

.video-teaser-frame {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
    padding: 3%;
}
