/**
 * widgets-container
 */

.widgets-container {
    white-space: nowrap;
}

.widgets-container-widget {
    display: inline-block;
    vertical-align: bottom;
    white-space: normal;
}

.widgets-container-widget:not(:first-child):not(:only-child) {
    margin-left: 50px;
}

.widgets-container-widget-inner {
    text-align: left;
    display: block;
}

@media only screen and (max-width: 400px) {
    .widgets-container-widget:not(:first-child):not(:only-child) {
        margin-left: 0;
    }

    .widgets-container-widget {
        display: block;
        text-align: center;
        margin: 20px 0;
    }

    .widgets-container-widget-inner {
        display: inline-block;
    }
}

.hc-widget-popup img,
.hc-widget img {
    width: auto;
}

.widgets-container-iframe {
    border: 0;
    display: block;
}

/* Minimize content jumps when lazyloading */
.widget-lazyload-trigger.lazyload,
.widget-lazyload-trigger.lazyloading {
    width: 150px;
    height: 150px;
}
