<f:for each="{seasons.records}" as="season">
    <f:for each="{season.data.assets}" as="asset">
        <div>
            <div> {season.data.cat_title} ({season.data.cat_uid}) from page id:{season.data.pid} </div>
            <div> File type: {asset.type} </div>
            <div> description: {asset.description} </div>
            <f:media file="{asset}" width="250c" height="150c"/>
        </div>
    </f:for>
</f:for>
