<f:for each="{pagetree}" as="page">
    <f:if condition="{page.doktype} != 4">
        <f:if condition="{page.localized}">
            <url>
                <loc>
                    <f:uri.page pageUid="{page.uid}" absolute="1" />
                </loc>
                <lastmod><f:format.date format="c">{page.lastMod}</f:format.date></lastmod>
                <changefreq>
                    <f:if condition="{page.changeFrequency}">
                        <f:then>
                            {page.changeFrequency}
                        </f:then>
                        <f:else>
                            weekly
                        </f:else>
                    </f:if>
                </changefreq>
                <priority>
                    <f:if condition="{page.priority}">
                        <f:then>
                            {page.priority}
                        </f:then>
                        <f:else>
                            0.5
                        </f:else>
                    </f:if>
                </priority>
            </url>
        </f:if>
    </f:if>
    <f:if condition="{page.subpages}">
        <f:render partial="Sitemap" arguments="{pagetree: page.subpages}" />
    </f:if>
</f:for>