.weather-symbol {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(/typo3conf/ext/bn_typo_dist76/Files/assets/icons/weather/color_1/weather_icons.svg);
}
.weather-symbol_a {
  width: 32px;
  height: 32px;
  background-position: 0 0;
}
.weather-symbol_b {
  width: 42px;
  height: 32px;
  background-position: -48px 0;
}
.weather-symbol_c {
  width: 47px;
  height: 32px;
  background-position: -144px 0;
}
.weather-symbol_d {
  width: 50px;
  height: 32px;
  background-position: -240px 0;
}
.weather-symbol_e {
  width: 50px;
  height: 32px;
  background-position: -336px 0;
}
.weather-symbol_f {
  width: 32px;
  height: 32px;
  background-position: -432px 0;
}
.weather-symbol_g {
  width: 27px;
  height: 32px;
  background-position: -480px 0;
}
.weather-symbol_h {
  width: 37px;
  height: 32px;
  background-position: -528px 0;
}
.weather-symbol_i {
  width: 31px;
  height: 32px;
  background-position: -576px 0;
}
.weather-symbol_j {
  width: 27px;
  height: 32px;
  background-position: -624px 0;
}
.weather-symbol_k {
  width: 77px;
  height: 32px;
  background-position: -672px 0;
}
.weather-symbol_l {
  width: 29px;
  height: 32px;
  background-position: 0 -48px;
}
.weather-symbol_m {
  width: 31px;
  height: 32px;
  background-position: -48px -48px;
}
.weather-symbol_n {
  width: 39px;
  height: 32px;
  background-position: -96px -48px;
}
.weather-symbol_o {
  width: 50px;
  height: 32px;
  background-position: -144px -48px;
}
.weather-symbol_p {
  width: 42px;
  height: 32px;
  background-position: -240px -48px;
}
.weather-symbol_q {
  width: 29px;
  height: 32px;
  background-position: -336px -48px;
}
.weather-symbol_r {
  width: 42px;
  height: 32px;
  background-position: -384px -48px;
}
.weather-symbol_s {
  width: 41px;
  height: 32px;
  background-position: -480px -48px;
}
.weather-symbol_t {
  width: 31px;
  height: 32px;
  background-position: -576px -48px;
}
.weather-symbol_u {
  width: 29px;
  height: 32px;
  background-position: -624px -48px;
}
.weather-symbol_v {
  width: 41px;
  height: 32px;
  background-position: -672px -48px;
}
.weather-symbol_w {
  width: 28px;
  height: 32px;
  background-position: 0 -96px;
}
.weather-symbol_x {
  width: 42px;
  height: 32px;
  background-position: -48px -96px;
}
.weather-symbol_y {
  width: 29px;
  height: 32px;
  background-position: -144px -96px;
}
.weather-symbol_z {
  width: 38px;
  height: 32px;
  background-position: -192px -96px;
}

