<div class="dynforms-replacement-markup hidden">
    <div class="js-replace-submit-button">
        <span class="submit-button-text-line">
            <strong><f:translate key="LLL:EXT:bn_typo_dist76/Files/translations/locallang.xlf:requestButtonCaptionPart1" /></strong>
            <f:translate key="LLL:EXT:bn_typo_dist76/Files/translations/locallang.xlf:requestButtonCaptionPart2" />
        </span>
        <f:if condition="{data.tx_mask_form_submit_button_subline}">
            <span class="submit-button-subline">{data.tx_mask_form_submit_button_subline}</span>
        </f:if>
        <span class="icon-lp-arrow-right-large submit-button-icon"></span>
    </div>

    <div class="js-replace-badge">
        <div class="bn__form__badge-container bn__form-grid__column bn__form-grid__column--xs-12 bn__form-grid__column--sm-6 bn__form-gridbn__form-grid__column bn__form-grid__column--xs-12 bn__form-grid__column--sm-6 bn__form-grid">
            <f:render partial="badge.html" arguments="{data: data}" />
        </div>
    </div>
</div>
