<div class="js-slider-with-dots slider-with-dots">
    <f:for each="{fileList}" as="file">
        <div class="img-aspect-ratio-container highlights-image-container">
            <picture class="picture">
                <!--[if IE 9]><video style="display: none"><![endif]-->
                <source
                    data-srcset="{f:uri.image(image: '{file}', width: '450c', height: '253c')}"
                    srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif"
                    media="(max-width: 450px)"
                >
                <source
                    data-srcset="{f:uri.image(image: '{file}', width: '600c', height: '338c')}"
                    srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif"
                    media="(max-width: 600px)"
                >
                <source
                    data-srcset="{f:uri.image(image: '{file}', width: '810c', height: '300c')}"
                    srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif"
                    media="(max-width: 810px)"
                >
                <source
                    data-srcset="{f:uri.image(image: '{file}', width: '432c', height: '270c')}"
                    srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif"
                    media="(max-width: 999px)"
                >
                <source
                    data-srcset="{f:uri.image(image: '{file}', width: '650c', height: '500c')}"
                    srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif"
                    media="(max-width: 1320px)"
                >
                <source
                    data-srcset="{f:uri.image(image: '{file}', width: '621c', height: '300c')}"
                    srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif"
                    media="(min-width: 1320px)"
                >
                <!--[if IE 9]></video><![endif]-->
                <img
                    src="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif"
                    data-src="{f:uri.image(image: '{file}', width: '481c', height: '480c')}"
                    class="lazyload"
                    data-sizes="auto"
                    alt="{file.alternative}"
                    title="{file.title}"
                >
            </picture>
        </div>
    </f:for>
</div>
