<div class="item clearfix">
    <div class="intro">
        <div class="title">{title}</div>
    </div>
    <div class="text-box-wrapper">
        <div class="text text-box text-box-more-info">
            <div class="text-box-more-info-inner {f:if(condition: multiColumnText, then: 'multi-column-text-wide-vw')}">
                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{text}</f:format.html>
            </div>
        </div>
    </div>

    <f:if condition="{gallery}">
        <div class="showcase-slider-item-gallery js-popup-gallery">
            <f:for each="{gallery}" as="file" iteration="fileIteration">
                <a href="{f:uri.image(image: file, maxWidth: '1920', maxHeight: '1080')}" class="showcase-slider-item-gallery-item js-popup-gallery-item image-popup-container">
                    <f:comment><!-- Only render the preview image for the first 4 images, the rest are only shown in the popup gallery --></f:comment>
                    <f:if condition="{fileIteration.index} < 4">
                        <span class="icon-lp-zoom image-popup-icon"></span>
                        <img
                            class="lazyload"
                            srcset="
                                {f:uri.image(src: 'typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/transparent-pixel.png', width: '16', height: '9')} 16w
                            "
                            data-srcset="
                                {f:uri.image(image: file, width: '100', height: '56c')} 100w,
                                {f:uri.image(image: file, width: '200', height: '113c')} 200w,
                                {f:uri.image(image: file, width: '300', height: '169c')} 300w,
                            "
                            sizes="(min-width: 576px) 22vw, (min-width: 1400px) 320px, 40vw"
                            data-src="{f:uri.image(src: 'typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/transparent-pixel.png', width: '16', height: '9')}"
                            src="{f:uri.image(image: file, width: '300', height: '169c')}"
                            alt="{file.alternative}"
                            title="{file.title}"
                        >
                    </f:if>
                </a>
            </f:for>
        </div>
    </f:if>

    <f:if condition="{showRequestButton}">
        <a class="call-to-action-button request scroll no-custom-texting">
            <strong><f:translate key="LLL:EXT:bn_typo_dist76/Files/translations/locallang.xlf:requestButtonCaptionPart1" /></strong>
            <f:translate key="LLL:EXT:bn_typo_dist76/Files/translations/locallang.xlf:requestButtonCaptionPart2" />
            <span class="icon-lp-arrow-right-2 request-offer-button-icon"></span>
        </a>
    </f:if>

</div>
