{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:if condition="{header}{subheader}">
    <div class="headlines">
        <f:comment><!-- header --></f:comment>
        <h1 id="{v:format.url.sanitizeString(string: header)}-{uid}">{header}</h1>

        <f:comment><!-- subheader --></f:comment>
        <f:comment><!-- First content element --></f:comment>
        <f:if condition="{subheader}">
            <h2 class="subheadline">{subheader}</h2>
        </f:if>
    </div>
</f:if>
