<meta property="og:title" content="{page_title}">
<meta property="og:site_name" content="{hotel_name}">
<meta property="og:url" content="{f:uri.page(absolute: 1)}">
<meta property="og:description" content="{f:if(condition: meta_description_field, then: meta_description_field, else: meta_description)}">
<meta property="og:type" content="website">
<meta property="og:locale" content="de_DE">
<meta property="og:locale:alternate" content="it_IT">
<meta property="og:locale:alternate" content="en_GB">
