<link rel="apple-touch-icon" sizes="180x180" href="/typo3conf/ext/bn_typo_dist76/Resources/Public/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/typo3conf/ext/bn_typo_dist76/Resources/Public/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/typo3conf/ext/bn_typo_dist76/Resources/Public/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/typo3conf/ext/bn_typo_dist76/Resources/Public/favicons/manifest.json">
<link rel="shortcut icon" href="/typo3conf/ext/bn_typo_dist76/Resources/Public/favicons/favicon.ico">
<meta name="msapplication-config" content="/typo3conf/ext/bn_typo_dist76/Resources/Public/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
