{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<!-- from hreflang.html -->
<v:page.languageMenu
    hideNotTranslated="1"
    labelOverwrite="de, it, en"
>
    <f:for each="{languageMenu}" as="langmenu">
        <link rel="alternate" hreflang="{langmenu.label}" href="{langmenu.url}">
   </f:for>
</v:page.languageMenu>
