<f:comment><!--
    Appends a <style> tag to <head> and constructs CSS declarations
    to override some default CSS properties
--></f:comment>
<style>
    <f:if condition="{pageBackgroundColor}">
        <![CDATA[
            body {
        ]]>
            background-color: {pageBackgroundColor};
        <![CDATA[
            }
        ]]>

        <![CDATA[
        .decorative-arrow-down-polygon {
        ]]>
            stroke: {pageBackgroundColor};
        <![CDATA[
            }
        ]]>

    </f:if>

    <f:if condition="{headingColor}">
        <![CDATA[
            h1, h2, h3,
            .ma_slider .ma_center .slogan .title {
        ]]>
            color: {headingColor};
        <![CDATA[
            }
        ]]>
    </f:if>

    <![CDATA[
        .subheadline {
    ]]>
        <f:if condition="{subheadingColor}">
            color: {subheadingColor};
        </f:if>
    <![CDATA[
        }
    ]]>

    <![CDATA[
        .call-to-action-button,
        .bn__form-grid.bn__form-grid .call-to-action-button {
    ]]>
        <f:if condition="{ctaButtonBackgroundColor}">
            background-color: {ctaButtonBackgroundColor};
        </f:if>
        <f:if condition="{ctaButtonTextColor}">
            color: {ctaButtonTextColor};
        </f:if>
    <![CDATA[
        }
    ]]>

    <![CDATA[
        .call-to-action-button:hover,
        .bn__form-grid.bn__form-grid .call-to-action-button:hover {
    ]]>
        <f:if condition="{ctaButtonBackgroundColorHover}">
            background-color: {ctaButtonBackgroundColorHover};
        </f:if>
        <f:if condition="{ctaButtonTextColorHover}">
            color: {ctaButtonTextColorHover};
        </f:if>
    <![CDATA[
        }
    ]]>

    <f:if condition="{iconBackgroundColor}">
        <![CDATA[
            .emphasized_info_box_item_icon {
        ]]>
            background-color: {iconBackgroundColor};
        <![CDATA[
            }
        ]]>
    </f:if>

    <f:if condition="{cookieBannerBackground}">
        <![CDATA[
            .cb-cookiebanner {
        ]]>
            background-color: {cookieBannerBackground};
        <![CDATA[
            }
        ]]>
    </f:if>

    <![CDATA[
        .cb-cookiebanner {
    ]]>
        <f:if condition="{cookieBannerBackground}">
            background-color: {cookieBannerBackground};
        </f:if>
        <f:if condition="{cookieBannerTextColor}">
            color: {cookieBannerTextColor};
        </f:if>
    <![CDATA[
        }
    ]]>

    <![CDATA[
        .cb-button {
    ]]>
        <f:if condition="{cookieBannerButtonBackground}">
            background-color: {cookieBannerButtonBackground};
        </f:if>
    <![CDATA[
        }
    ]]>

    <![CDATA[
        html {
    ]]>
        <f:if condition="{defaultTextColor}">
            color: {defaultTextColor};
        </f:if>
    <![CDATA[
        }
    ]]>

    <![CDATA[
        a,
        .cb-infolink,
        a.cb-infolink:visited {
    ]]>
        <f:if condition="{defaultLinkColor}">
            color: {defaultLinkColor};
        </f:if>
    <![CDATA[
        }
    ]]>

    <![CDATA[
        a:hover,
        .active a {
    ]]>
        <f:if condition="{defaultLinkHoverColor}">
            color: {defaultLinkHoverColor};
        </f:if>
    <![CDATA[
        }
    ]]>


    <f:if condition="{pageHeaderVariant} == 'default'">
        <![CDATA[
            .main-header-variant-container {
        ]]>
            width: 100%;
            max-width: 1320px;
            margin: auto;
        <![CDATA[
            }
        ]]>
        <f:else>
            <![CDATA[
                @media only screen and (min-width: 1320px) {
                .h_top {
            ]]>
                margin: 0 120px;
            <![CDATA[
                    }
                }
            ]]>
        </f:else>
    </f:if>

    <![CDATA[
        .main-header-variant-container {
    ]]>
        <f:if condition="{pageHeaderVariant} == 'default'">
            width: 100%;
            max-width: 1320px;
            margin: auto;
        </f:if>
    <![CDATA[
        }
    ]]>

    <![CDATA[
        .slogan {
    ]]>
        <f:if condition="{headerSloganBackground}">
            background-color: {headerSloganBackground};
        </f:if>
        <f:if condition="{headerSloganTextColor}">
            color: {headerSloganTextColor};
        </f:if>
    <![CDATA[
        }
    ]]>

    <![CDATA[
        .slogan .title,
        h1, h2 {
    ]]>
        <f:if condition="{headerSloganTextTransform}">
            text-transform: {headerSloganTextTransform};
        </f:if>
    <![CDATA[
        }
    ]]>

    <![CDATA[
        .quote-slider {
    ]]>
        <f:if condition="{headerQuoteSliderBackground}">
            background-color: {headerQuoteSliderBackground};
        </f:if>
        <f:if condition="{headerQuoteSliderTextColor}">
            color: {headerQuoteSliderTextColor};
        </f:if>
    <![CDATA[
        }
    ]]>

    <![CDATA[
    @media (max-width: 999px) {
        /* Override the color from the styling settings in the T3 backend */
        html .quote-slider {
    ]]>
        <f:if condition="{quoteBoxRequestFormAndWidgetBackgroundColor}">
            background-color: {quoteBoxRequestFormAndWidgetBackgroundColor};
        </f:if>
    <![CDATA[
        }
    }
    ]]>

    <![CDATA[
        .highlights-box,
        .selected-item-box-header-bar,
        .qr .request {
    ]]>
        <f:if condition="{highlightsAndFormCaptionBackgroundColor}">
            background-color: {highlightsAndFormCaptionBackgroundColor};
        </f:if>
    <![CDATA[
        }
    ]]>

    <![CDATA[
        .selected-item-box-header-bar,
        .qr .request,
        .highlights-container {
    ]]>
        <f:if condition="{highlightsAndFormCaptionHeaderColor}">
            color: {highlightsAndFormCaptionHeaderColor};
        </f:if>
    <![CDATA[
        }
    ]]>

    <![CDATA[
        .quote-box,
        .qr,
        .widget-text-box,
        .selected-item-box,
        .gall_wrapper {
    ]]>
        <f:if condition="{quoteBoxRequestFormAndWidgetBackgroundColor}">
            background-color: {quoteBoxRequestFormAndWidgetBackgroundColor};
        </f:if>
    <![CDATA[
        }
    ]]>

    <![CDATA[
        .content-quote-boxes-container,
        .qr,
        .widget-text-box,
        .selected-item-box {
    ]]>
        <f:if condition="{quoteBoxRequestFormAndWidgetTextColor}">
            color: {quoteBoxRequestFormAndWidgetTextColor};
        </f:if>
    <![CDATA[
        }
    ]]>

    <![CDATA[
        .offer.container .offer_detail .item,
        .slick-current .showcase-slider-switcher-item,
        .tab-slider-box-item,
        .tab-slider-box-switcher .slick-current.slick-active {
    ]]>
        <f:if condition="{offersAndTabSliderBoxesBackgroundColor}">
            background-color: {offersAndTabSliderBoxesBackgroundColor};
            fill: {offersAndTabSliderBoxesBackgroundColor};
        </f:if>
    <![CDATA[
        }
    ]]>

    <![CDATA[
        .tab-slider-box-item,
        .offer_detail .intro,
        .tab-slider-box-switcher .slick-current.slick-active,
        .slick-current .showcase-slider-switcher-item {
    ]]>
        <f:if condition="{offersAndTabSliderBoxesTextColor}">
            color: {offersAndTabSliderBoxesTextColor};
        </f:if>
    <![CDATA[
        }
    ]]>

    <![CDATA[
        .tab-slider-box-switcher-item,
        .showcase-slider-switcher-item {
    ]]>
        <f:if condition="{offersAndTabSliderBoxesInactiveBackgroundColor}">
            background-color: {offersAndTabSliderBoxesInactiveBackgroundColor};
        </f:if>
        <f:if condition="{offersAndTabSliderBoxesInactiveTextColor}">
            color: {offersAndTabSliderBoxesInactiveTextColor};
        </f:if>
    <![CDATA[
        }
    ]]>

    <![CDATA[
        .badge,
        .standard-action-btn,
        .action-button {
    ]]>
        <f:if condition="{formBadgeAndActionButtonsBackgroundColorAndMapInputFieldBorderColor}">
            background-color: {formBadgeAndActionButtonsBackgroundColorAndMapInputFieldBorderColor};
        </f:if>
    <![CDATA[
        }
    ]]>

    <![CDATA[
        .standard-input-field {
    ]]>
        <f:if condition="{formBadgeAndActionButtonsBackgroundColorAndMapInputFieldBorderColor}">
            border-color: {formBadgeAndActionButtonsBackgroundColorAndMapInputFieldBorderColor};
        </f:if>
    <![CDATA[
        }
    ]]>

    <![CDATA[
        h1,
        h2,
        h3,
        .offer.container .offer_detail .title,
        .tab-slider-box-headline {
    ]]>
        <f:if condition="{fontFamilyHeadings}">
            font-family: '{fontFamilyHeadings}', sans-serif;
        </f:if>
    <![CDATA[
        }
    ]]>

    <![CDATA[
        h1,
        h2,
        h3 {
    ]]>
        <f:if condition="{headingFontWeight}">
            font-weight: {headingFontWeight};
        </f:if>
    <![CDATA[
        }
    ]]>

    <![CDATA[
        .offer.container .offer_detail .title,
        .tab-slider-box-headline,
        .highlights-box-title,
        .qr .request {
    ]]>
        <f:if condition="{headingFontWeight2}">
            font-weight: {headingFontWeight2};
        </f:if>
    <![CDATA[
        }
    ]]>

    <![CDATA[
        .slogan .title {
    ]]>
        <f:if condition="{sloganTitleFontWeight}">
            font-weight: {sloganTitleFontWeight};
        </f:if>
    <![CDATA[
        }
    ]]>

    <![CDATA[
        html, body {
    ]]>
        <f:if condition="{fontFamilyDefault}">
            font-family: "{fontFamilyDefault}", sans-serif;
        </f:if>

        <f:if condition="{fontWeightDefault}">
            font-weight: {fontWeightDefault};
        </f:if>
    <![CDATA[
        }
    ]]>

    <![CDATA[
        .quote-box-logo-container * {
    ]]>
        <f:if condition="{quoteBoxLogoColor}">
            fill: {quoteBoxLogoColor} !important;
        </f:if>
    <![CDATA[
        }
    ]]>

    <![CDATA[
        .quote-box-text-wrap .icon-lp-quote-opening {
    ]]>
        <f:if condition="{quoteIconColor}">
            color: {quoteIconColor};
        </f:if>
    <![CDATA[
        }
    ]]>

    <![CDATA[
        .action-button {
    ]]>
        <f:if condition="{actionButtonBackgroundColor}">
            background-color: {actionButtonBackgroundColor};
        </f:if>
        <f:if condition="{actionButtonTextColor}">
            color: {actionButtonTextColor};
        </f:if>
    <![CDATA[
        }
    ]]>

    <![CDATA[
        .action-button:hover {
    ]]>
        <f:if condition="{actionButtonBackgroundColor}">
            color: {actionButtonBackgroundColor};
        </f:if>
        <f:if condition="{actionButtonTextColor}">
            background-color: {actionButtonTextColor};
        </f:if>
    <![CDATA[
        }
    ]]>

    <![CDATA[
        .slider-arrow {
    ]]>
        <f:if condition="{sliderArrowBackgroundColor}">
            background-color: {sliderArrowBackgroundColor};
        </f:if>
    <![CDATA[
        }
    ]]>

    <f:if condition="{formIconColor}">
        <![CDATA[
            .quickrequest_container .bn__form-grid .bn__form-grid__column .bn__form-grid__column__overlay {
        ]]>
            color: {formIconColor};
        <![CDATA[
            }
        ]]>
        <![CDATA[
            .bn__form-grid__column__controls__item--plus:before,
            .bn__form-grid__column__controls__item--minus:before,
            .bn__form-grid .bn__form-grid__button--low-impact,
            .bn__form-grid .bn__form-grid__button--low-impact:hover {
        ]]>
            background-color: {formIconColor};
        <![CDATA[
            }
        ]]>
    </f:if>

    <![CDATA[
        b,
        strong,
        .submit-button-subline,
        .widget-text-box-text {
    ]]>
        <f:if condition="{fontWeightStrong}">
            font-weight: {fontWeightStrong};
        </f:if>
    <![CDATA[
        }
    ]]>

    <![CDATA[
        .subheadline,
        .offer.container .offer_detail .subtitle,
        .slogan .text,
        .highlights-box-title,
        .selected-item-box-header-bar,
        .qr .request {
    ]]>
        <f:if condition="{fontFamilySubheadings}">
            font-family: '{fontFamilySubheadings}';
        </f:if>
    <![CDATA[
        }
    ]]>

    <![CDATA[
        .subheadline {
    ]]>
        <f:if condition="{subheadingFontWeight}">
            font-weight: {subheadingFontWeight};
        </f:if>
    <![CDATA[
        }
    ]]>

    <![CDATA[
        .offer.container .offer_detail .subtitle,
        .slogan .text,
        .selected-item-box-header-bar {
    ]]>
        <f:if condition="{subheadingFontWeight2}">
            font-weight: {subheadingFontWeight2};
        </f:if>
    <![CDATA[
        }
    ]]>

</style>
