<!DOCTYPE html>
<html lang="de">
  <head>
    <title>bsp-hello01</title>
    <meta charset="UTF-8"> 
    <style type="text/css">
        body {
            font-family: sans-serif;
            margin: 20px;
            font-size: 14px;
        }
    </style>
    <script src="1.4.7/angular.min.js"></script>
    <script type="text/javascript">

        var app = angular.module("bspHello01", []);

        app.controller("ctrl", function($scope) {
            $scope.buecher = [ { title: 'JavaScript' },
                               { title: 'SQL' } ];
        });

    </script>
  </head>
  <body ng-app="bspHello01">

    <div ng-controller="ctrl">
        <p><span ng-bind="buecher[0].title"></span></p>
        <p>{{ buecher[1].title }}</p>
    </div>

  </body>
</html>
