<!DOCTYPE html>
<html lang="de">

  <head>
    <title>bsp-http03</title>
    <meta charset="UTF-8"> 
    <style type="text/css">
        body {
            font-family: sans-serif;
            margin: 20px;
        }
    </style>
    <script src="1.4.7/angular.min.js"></script>
    <script src="1.4.7/angular-resource.min.js"></script>
    <script type="text/javascript">

    var app = angular.module("bspHttp03", ['ngResource']);

    app.controller("ctrl", function ($scope, $http, $resource) {

      $scope.title = "REST-Bibliothek mit dem ngResource Modul";
      $scope.buecher = [];

      var biblioResource = $resource('http://brandnamic.singlepage.info/biblio/:ix',
                                     null, // keine Default-Parameter
                                     { 'update': { method: 'PUT', params: {ix: '@ix'} } }  // Custom-Action!
                                    ); 

      $scope.auffrischen = function() {
        // query -> GET /biblio
        biblioResource.query( function(data) { $scope.buecher = data; } );
      };

      $scope.loeschen = function(i) {
        // delete oder remove -> DELETE /biblio/ix
        biblioResource.delete( { ix: i }, function(data) { $scope.buecher.splice(i, 1); } );
      };

      $scope.speichern = function() {
        // save -> POST /biblio + data
        var n = { title: $scope.neuerTitel };
        $scope.neuerTitel = '';
        biblioResource.save( n, function(data) { $scope.buecher.push(n); } );
      };

      $scope.aendern = function(i) {
        // update (Custom-Action) -> PUT /biblio/ix
        biblioResource.update( { ix: i, title: 'verändert' }, function(data) { $scope.buecher[i].title = 'verändert'; } );
      };

      $scope.auffrischen();

      // interner Aufruf der Action mit $
      // biblioResource.get( {ix : 1}, function(data) { data.title += ' gelesen'; data.$update( { ix: 1 } ); } );

      // die Action-Methoden haben einen error call back als naechsten Parameter (hier weggelassen)
    });


    </script>
  </head>

  <body ng-app="bspHttp03">
    <div ng-controller="ctrl">
      <h2>{{ title }}</h2>
      <table>
        <tr ng-repeat="b in buecher track by $index">
            <td>{{ b.title }}</td>
            <td><button ng-click="loeschen($index)">lösche</button></td>
            <td><button ng-click="aendern($index)">ändere</button></td>
        </tr>
        <tr>
            <td><input type="text" ng-model="neuerTitel"></td><td><button ng-click="speichern()" ng-disabled="!neuerTitel">speichern</button></td>
        </tr>
      </table>
    </div>
  </body>

</html>


