<!DOCTYPE html>
<html lang="de">

  <head>
    <title>bsp-dir01</title>
    <meta charset="UTF-8"> 
    <style type="text/css">
        body {
            font-family: sans-serif;
            margin: 20px;
        }
        .box {
            display: inline-block;
            border: 1px solid gray;
            padding: 6px;
            margin: 6px;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: default;
        }
        span.box_true {
            background-color: #EEFFEE;
        }
        span.box_false {
            background-color: #FFEEEE;
        }
    </style>
    <script src="1.4.7/angular.min.js"></script>
    <script type="text/javascript">

    var app = angular.module("bspDir01", []);

    app.directive("myBox", function () {
      return {
        template:
        '<span class="box" ng-class="\'box_\' + isOn" ng-click="toggle()">' +
        '<span ng-transclude></span> ' + 
        '{{ isOn ? "(on!)" : "" }}</span>',
        // normalerweise templateUrl verwenden!
        transclude: true,
        restrict: "ECA",  // M fehlt
        controller: function ($scope) { // oops: globaler $scope
          $scope.isOn = false;
          $scope.toggle = function () { this.isOn = !this.isOn; }
        }
      };
    });

    app.controller("ctrl", function ($scope) {
      $scope.title = "die eigene Direktive my-box";
    });

    </script>
  </head>

  <body ng-app="bspDir01">
    <div ng-controller="ctrl">
      <h2>{{ title }}</h2>
      <span my-box>ludicrous speed</span>
      <!--
        oder E (element):
           <my-box>ludicrous speed</my-box>
        oder C (class) (nicht empfohlen):
           <div class="my-box">ludicrous speed</div>
       -->
    </div>
  </body>

</html>
