<!DOCTYPE html>
<html lang="de">

  <head>
    <title>bsp-dir02</title>
    <meta charset="UTF-8"> 
    <style type="text/css">
        body {
            font-family: sans-serif;
            margin: 20px;
        }
        .box {
            display: inline-block;
            border: 1px solid gray;
            padding: 6px;
            margin: 6px;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: default;
        }
        span.box_true {
            background-color: #EEFFEE;
        }
        span.box_false {
            background-color: #FFEEEE;
        }
    </style>
    <script src="1.4.7/angular.min.js"></script>
    <script type="text/javascript">

    var app = angular.module("bspDir02", []);

    app.directive("myBox", function () {

      return {
        template: '<span class="box" ng-class="\'box_\' + isOn" ng-click="toggle()">' +
                  '<span ng-transclude></span> ' + 
                  '{{ isOn ? "(on!)" : "" }}</span>',
        // normalerweise: templateUrl
        transclude: true,
        restrict: "ECA",  // es fehlt: M
        scope: {
            isOn: "=feature"   // binde isOn im isolierten $scope zu dem mit
                               // ``feature`` angegebenen Namen im globalen $scope
                               // (fur Funktionen: &)
        },
        controller: function ($scope) {
          $scope.toggle = function () { $scope.isOn = !$scope.isOn; };
        }
      };

    });

    app.controller("ctrl", function ($scope) {
      $scope.title = "die eigene Direktive my-box (mit isoliertem $scope)";
      $scope.speed =   true;
      $scope.stealth = false;
    });

    </script>
  </head>

  <body ng-app="bspDir02">
    <div ng-controller="ctrl">
      <h2>{{ title }}</h2>
      <span my-box feature="speed">ludicrous speed</span><br>
      <span my-box feature="stealth">stealth operation</span><br>
      <br>
      ludicrous speed is {{ speed }} and stealth operation is {{ stealth }}
    </div>
  </body>

</html>
