<div class="panel">

  <h1>Titeleingabe</h1>
  <input type="text" ng-model="c.buch"> <button ng-click="c.add()">add</button>
  <br><br>
  <table>
    <tr ng-repeat="b in m.buecher track by $index">
      <td>{{ b.title }}</td>
    </tr>
  </table>

</div>
