<!DOCTYPE html>
<html lang="de">
  <head>
    <title>bsp-hello04</title>
    <meta charset="UTF-8"> 
    <style type="text/css">
        body {
            font-family: sans-serif;
            margin: 20px;
            font-size: 14px;
        }
        table {
            border-collapse: collapse;
        }
        td {
            border: 1px solid black;
            padding: 4px;
        }
    </style>
    <script src="1.4.7/angular.min.js"></script>
    <script src="1.4.7/angular-locale_de-de.js"></script>
    <script type="text/javascript">

        var app = angular.module("bspHello04", []);

        app.controller("ctrl", function($scope) {
            $scope.buecher = [ { title: 'JavaScript',
                                 dt: (new Date()),
                                 price: 23.123
                               },

                               { title: 'SQL',
                                 dt: (new Date()),
                                 price: 78.788 
                               },

                               { title: 'Java',
                                 dt: (new Date()),
                                 price: 56 
                               }
                             ];
        });

    </script>
  </head>
  <body ng-app="bspHello04">

    <div ng-controller="ctrl">

        <table>
        <tr ng-repeat="b in buecher">
            <td>{{ b.title }}</td>
            <td>{{ b.dt    | date }}</td>
            <td>{{ b.dt    | date:'shortDate' }}</td>
            <td>{{ b.dt    | date:'longDate' }}</td>
            <td>{{ b.dt    | date:'longDate' }}</td>
            <td>{{ b.price | number:2 }}</td>
        </tr>
        </table>

        <pre>{{ buecher | json }}</pre>
        
        <table>
        <tr ng-repeat="b in buecher | filter:{title: 'J'}">
            <td>{{ b.title }}</td>
            <td>{{ b.dt    | date:'longDate' }}</td>
            <td>{{ b.price | number:2 }}</td>
        </tr>
        </table>
        <br>

        <table>
        <tr ng-repeat="b in buecher | orderBy:['title']">
            <td>{{ b.title }}</td>
            <td>{{ b.dt    | date:'longDate' }}</td>
            <td>{{ b.price | number:2 }}</td>
        </tr>
        </table>

    </div>

  </body>
</html>
