<!DOCTYPE html>
<html lang="de">

  <head>
    <title>bsp-http01</title>
    <meta charset="UTF-8"> 
    <style type="text/css">
        body {
            font-family: sans-serif;
            margin: 20px;
        }
    </style>
    <script src="1.4.7/angular.min.js"></script>
    <script type="text/javascript">

     function Biblio() {
         this.buecher = [];
     }

    var app = angular.module("bspHttp01", []);

    app.controller("ctrl", function ($scope, $http) {
      $scope.title = "hallo $http";
      $scope.msg   = undefined;
      $scope.m = new Biblio();
      $http.get('bsp-http01-buecher.json')
        .then(  function(res) { $scope.m.buecher = res.data; } )
        .catch( function(res) { $scope.msg = 'Error ' + res.status + '.'; } );
    });

    </script>
  </head>

  <body ng-app="bspHttp01">
    <div ng-controller="ctrl">
      <h2>{{ title }}</h2>
      <p>{{ msg }}</p>
      <table>
        <tr ng-repeat="b in m.buecher track by $index">
            <td>{{ b.title }}</td>
        </tr>
      </table>
    </div>
  </body>

</html>
