<!DOCTYPE html>
<html lang="de">
  <head>
    <title>bsp-service01</title>
    <meta charset="UTF-8"> 
    <style type="text/css">
        body {
            font-family: sans-serif;
            margin: 20px;
            font-size: 14px;
        }
        h1 {
            font-size: 18px;
        }
    </style>
    <script src="1.4.7/angular.min.js"></script>
    <script type="text/javascript">

        var app = angular.module("bspService01", []);

        app.factory('biblio', function($http) {
           var baseUrl = 'http://consors.singlepage.info/biblio/';
            return {
                getAll: function() {
                    return $http.get(baseUrl);
                },
                add: function(t) {
                    return $http.post(baseUrl, { title: t } );
                }
            }
        });

        app.controller("ctrl", function($scope, biblio) {

            $scope.buecher = [];
            $scope.add = function(t) {
                biblio.add($scope.neuerTitel).then( function() { refresh() } );
                $scope.neuerTitel = '';
            };

            function refresh() {
                biblio.getAll().then( function(res) { $scope.buecher = res.data; } );
            }
            refresh();

        });

    </script>
  </head>
  <body ng-app="bspService01">

    <div ng-controller="ctrl">

      <h1>online Titeleingabe</h1>
      <input type="text" ng-model="neuerTitel"> <button ng-click="add()">add</button>
      <br><br>
      <table>
      <tr ng-repeat="b in buecher track by $index">
          <td>{{ b.title }}</td>
      </tr>
      </table>

    </div>

  </body>
</html>
