<!DOCTYPE html>
<html lang="de">
  <head>
    <title>bsp-form01</title>
    <meta charset="UTF-8"> 
    <style type="text/css">
        body {
            font-family: sans-serif;
            margin: 20px;
            font-size: 14px;
        }
    </style>
    <script src="1.4.7/angular.min.js"></script>
    <script type="text/javascript">

      var app = angular.module('bspForm01', []);

      app.controller('ctrl', function($scope) {
        $scope.buch = {};
      });

  </script>
  </head>
  <body>
    <div ng-app="bspForm01" ng-controller="ctrl">

      <form name="buchForm">
      <pre>
        Daten zum Buch:

             Titel: <input    name="title"         
                     ng-model="buch.title" type="text">

           Autoren: <textarea name="authors"
                     ng-model="buch.authors"></textarea>

            Format: <input    name="format_print"  
                     ng-model="buch.format_print" type="checkbox"> gedruckt
                    <input    name="format_ebook"
                     ng-model="buch.format_ebook" type="checkbox"> digital

               Art: <input    name="kind"
                     ng-model="buch.kind" type="radio" value="fiction"> Roman
                    <input    name="kind"
                     ng-model="buch.kind" type="radio" value="nonfiction"> Sachbuch

  Erscheinungsjahr: <input    name="year"
                     ng-model="buch.year" type="number">

           Sprache: <select   name="lang"
                     ng-model="buch.lang"
                     ng-options="a.id as a.name for a in [ { id:1, name:'de' }, { id:2, name:'en' } ]">
                    </select>

               <input type="submit" value="OK">
      </pre>

      <pre>{{ buch | json }}</pre>

      </form>
    </div>
  </body>
</html>
