<!DOCTYPE html>
<html lang="de">
  <head>
    <title>bsp-routing01</title>
    <meta charset="UTF-8"> 
    <style type="text/css">
        body {
            font-family: sans-serif;
            margin: 20px;
            font-size: 14px;
            background-color: #AAAAAA;
        }
        h1 {
            font-size: 18px;
        }
        a {
            background-color: #DDDDDD;
            text-decoration: none;
            padding: 8px;
        }
        a.sel {
            background-color: #FFFFFF;
        }
        .panel {
            background-color: #FFFFFF; 
            padding: 8px;
        }
        p {
            margin-bottom: 8px;
        }
    </style>
    <script src="1.4.7/angular.min.js"></script>
    <script type="text/javascript">

        function Biblio() {
          this.buecher = [ { title: 'JavaScript' },
                           { title: 'SQL' } ];
          this.add = function(t) {
            this.buecher.push( { title: t } );
          };
        }

        var app = angular.module("bspRouting01", []);

        app.filter("csv", function() {
          return function(val, f) {
            return val.map( function(x) {return x[f]; }).join(', ');
          };
        });

        app.controller("ctrl", function($scope) {

            $scope.m = new Biblio();

            $scope.c = {};
            $scope.c.add = function() {
                $scope.m.add($scope.c.buch);
                $scope.c.buch = '' 
            };
            $scope.c.setState = function(s) {
               $scope.c.state = s;
            }
            $scope.c.setState('edit');

        });

    </script>
  </head>
  <body ng-app="bspRouting01">

    <div ng-controller="ctrl">

      <p>
      <a href="#" ng-click="c.setState('edit');"
                  ng-class="c.state == 'edit'? 'sel' : ''">Edit</a>
      <a href="#" ng-click="c.setState('view');"
                  ng-class="c.state == 'view'? 'sel' : ''">View </a>
      </p>

      <div ng-switch="c.state">

        <div ng-switch-when="edit" class="panel">

          <h1>Titeleingabe</h1>
          <input type="text" ng-model="c.buch"> <button ng-click="c.add()">add</button>
          <br><br>
          <table>
          <tr ng-repeat="b in m.buecher track by $index">
              <td>{{ b.title }}</td>
          </tr>
          </table>

        </div>

        <div ng-switch-when="view" class="panel">

          <h1>Bereits erfasste Titel</h1>
          {{ m.buecher | csv:'title' }}

        </div>

      </div>

    </div>

  </body>
</html>
