<!DOCTYPE html>
<html lang="de">
  <head>
    <title>bsp-hello02</title>
    <meta charset="UTF-8"> 
    <style type="text/css">
        body {
            font-family: sans-serif;
            margin: 20px;
            font-size: 14px;
        }
    </style>
    <script src="1.4.7/angular.js"></script>
    <script type="text/javascript">

        var app = angular.module("bspHello02", []);

        app.controller("ctrl", function($scope) {
            $scope.buecher = [ { title: 'JavaScript' },
                               { title: 'SQL' } ];
        });

    </script>
  </head>
  <body ng-app="bspHello02">

    <div ng-controller="ctrl">

        <table>
        <tr ng-repeat="b in buecher track by $index">
            <td>{{ b.title }}</td>
        </tr>
        </table>
        <br>
        <input type="text" ng-model="buecher[0].title">        

    </div>

  </body>
</html>
