<!DOCTYPE html>
<html lang="de">
  <head>
    <title>bsp-form02</title>
    <meta charset="UTF-8"> 
    <style type="text/css">
        body {
            font-family: sans-serif;
            margin: 20px;
            font-size: 14px;
        }
        input.ng-valid, textarea.ng-valid  { background-color: #EEFFEE; }
        input.ng-invalid, textarea.ng-invalid { background-color: #FFEEEE; }
    </style>
    <script src="1.4.7/angular.min.js"></script>
    <script type="text/javascript">

      var app = angular.module('bspForm02', []);

      app.controller('ctrl', function($scope) {
        $scope.buch = {};
      });

  </script>
  </head>
  <body>
    <div ng-app="bspForm02" ng-controller="ctrl">

      <form name="buchForm" novalidate>
      <pre>
        Daten zum Buch:

             Titel: <input    name="title"         
                     ng-model="buch.title" type="text" required ng-minlength="2" ng-pattern="/^[0-9A-Z]/">

           Autoren: <textarea name="authors"
                     ng-model="buch.authors" required></textarea>

            Format: <input    name="format_print"  
                     ng-model="buch.format_print" type="checkbox"> gedruckt
                    <input    name="format_ebook"
                     ng-model="buch.format_ebook" type="checkbox"> digital

               Art: <input    name="kind"
                     ng-model="buch.kind" type="radio" value="fiction"> Roman
                    <input    name="kind"
                     ng-model="buch.kind" type="radio" value="nonfiction"> Sachbuch

  Erscheinungsjahr: <input    name="year"
                     ng-model="buch.year" type="number" min="1" max="3000" required>

           Sprache: <select   name="lang"
                     ng-model="buch.lang"
                     ng-options="a.id as a.name for a in [ { id:1, name:'de' }, { id:2, name:'en' } ]">
                    </select>

               <input type="submit" value="OK">
      </pre>

      <pre>
        Titel:
        $dirty ({{ buchForm.title.$dirty }}) oder $pristine ({{ buchForm.title.$pristine }})
        $valid ({{ buchForm.title.$valid }}) oder $invalid ({{ buchForm.title.$invalid }})
        $error: {{ buchForm.title.$error }}

        gesamte Form:
        $dirty ({{ buchForm.$dirty }}) oder $pristine ({{ buchForm.$pristine }})
        $valid ({{ buchForm.$valid }}) oder $invalid ({{ buchForm.$invalid }})
        $error: {{ buchForm.$error }}
        </pre>

      </form>
    </div>
  </body>
</html>
