<!DOCTYPE html>
<html lang="de">

  <head>
    <title>bsp-http02</title>
    <meta charset="UTF-8"> 
    <style type="text/css">
        body {
            font-family: sans-serif;
            margin: 20px;
        }
    </style>
    <script src="1.4.7/angular.min.js"></script>
    <script type="text/javascript">

    var app = angular.module("bspHttp02", []);

    app.controller("ctrl", function ($scope, $http) {

      $scope.title = "REST-Bibliothek mit $http";
      $scope.buecher = [];

      var baseUrl = 'http://brandnamic.singlepage.info/biblio/';

      $scope.auffrischen = function() {
        // GET /biblio
        $http.get(baseUrl).then( function(res) { $scope.buecher = res.data; } );
      };

      $scope.loeschen = function(i) {
        // DELETE /biblio/ix
        $http.delete(baseUrl + i).then( function(res) { $scope.buecher.splice(i, 1); } );
      };

      $scope.speichern = function() {
        // POST /biblio + data
        var n = { title: $scope.neuerTitel };
        $scope.neuerTitel = '';
        $http.post(baseUrl, n).then( function(res) { $scope.buecher.push(n); } );
      };

      $scope.aendern = function(i) {
        // PUT /biblio/ix
        $http.put(baseUrl + i, { title: 'verändert' }).then(function(res) { $scope.buecher[i].title = 'verändert'; } );
      };

      $scope.auffrischen();

    });

    </script>
  </head>

  <body ng-app="bspHttp02">
    <div ng-controller="ctrl">
      <h2>{{ title }}</h2>
      <table>
        <tr ng-repeat="b in buecher track by $index">
            <td>{{ b.title }}</td>
            <td><button ng-click="loeschen($index)">lösche</button></td>
            <td><button ng-click="aendern($index)">ändere</button></td>
        </tr>
        <tr>
            <td><input type="text" ng-model="neuerTitel"></td>
            <td><button ng-click="speichern()" ng-disabled="!neuerTitel">speichern</button></td>
        </tr>
      </table>
    </div>
  </body>

</html>


