<section class="tab-slider-box js-tab-slider-box">
    <div class="ma_center">
        <f:render partial="stdheader.html" arguments="{header: data.header, subheader: data.subheader, uid: data.uid}" />

        <div
            class="js-room-data-container tab-slider-box-loading lazyload"
            data-ehotelier-id="{data.tx_mask_ehotelierid_rooms}"
            data-rooms-to-show="
                <f:for each='{data.tx_mask_roomstoshow}' as='data_item'>
                    {data_item.tx_mask_roomid},
                </f:for>
            "
        >
            <div class="loading-box loading-animation"></div>
        </div>
    </div>
</section>
