<section class="offer container">
    <div class="ma_center">
        <f:render partial="stdheader.html" arguments="{header: data.header, subheader: data.subheader, uid: data.uid}" />
    </div>
    <div
        class="js_offer showcase-slider-container showcase-slider-container-loading lazyload"
        data-id="{data.tx_mask_ehotelierid}"
        data-show-offer-title-in-request-button="{data.tx_mask_showoffertitleinrequestbutton}"
        data-force-offer-from-price-usage="{data.tx_mask_forceofferfrompriceusage}"
        data-offercategories="
            <f:for each='{data.tx_mask_offercategories}' as='data_item'>
                {data_item.tx_mask_offercategoryid},
            </f:for>
        "
        data-nights=""
        data-exclude-nights=""
    >
        <div class="ma_center">
            <f:render partial="loading-box.html" />
        </div>
    </div>
</section>
