<div class="standard-text-container collapse-sub-paragraphs">
    <div class="ma_center">
        <div class="ma_center">
            <f:render partial="stdheader.html" arguments="{header: data.header, subheader: data.subheader, uid: data.uid}" />
            <f:comment><!--
                All parameters in dot object syntax are converted into
                bracket syntax in the request by the javascript functions,
                e.g. custom_params.textplugins > custom_params[textplugins]
            --></f:comment>
            <div class="text">
                <div
                    class="js-ehotelier-text-plugin-container"
                    data-hotel_id="{data.tx_mask_ehotelier_id_imprint}"
                    data-textplugin_id="{data.tx_mask_ehotelier_textplugin_id}"
                    data-custom_params.business_card="/{data.media.0.originalFile.publicUrl}"
                    data-custom_params.bn_logo="https://cdn.bnamic.com/brandnamic_files/logo_bn/BN_Logo_2016_RGB_pos.svg"
                    data-custom_params.textplugins="
                        <f:for each='{data.tx_mask_selected_ehotelier_textplugins}' as='data_item'>
                            {data_item.tx_mask_ehotelier_textplugin_id},
                        </f:for>
                    "
                >
                    <f:render partial="loading-box.html" />
                </div>
            </div>
        </div>
    </div>
</div>
