<section class="offer container">
    <div class="ma_center">
        <f:render partial="stdheader.html" arguments="{header: data.header, subheader: data.subheader, uid: data.uid}" />
    </div>
    <div
        class="showcase-slider-container js-showcase-slider"
        data-show-offer-title-in-request-button="{data.tx_mask_showoffertitleinrequestbutton}"
    >
        <div class="ma_center offer-slider-wrapper">
            <div class="showcase-slider-switcher">
                <div class="js_offerbox_switch_items flex-slick-slider">
                    <f:for each="{data.tx_mask_sliderelementitems}" as="data_item">
                        <div class="showcase-slider-switcher-item-outer">
                            <div class="showcase-slider-switcher-item js-showcase-slider-switcher-item">
                                <div class="img-aspect-ratio-container showcase-slider-image-container">
                                    <picture class="picture">
                                        <source
                                            media="(max-width: 400px)"
                                            data-srcset="{f:uri.image(image: data_item.tx_mask_sliderimage.0, width: '400', height: '260')}"
                                            srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif"
                                        >
                                        <source
                                            media="(max-width: 600px)"
                                            data-srcset="{f:uri.image(image: data_item.tx_mask_sliderimage.0, width: '600', height: '400c')}"
                                            srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif"
                                        >
                                        <source
                                            media="(max-width: 700px)"
                                            data-srcset="{f:uri.image(image: data_item.tx_mask_sliderimage.0, width: '700', height: '350c')}"
                                            srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif"
                                        >
                                        <source
                                            media="(max-width: 1320px)"
                                            data-srcset="{f:uri.image(image: data_item.tx_mask_sliderimage.0, width: '480', height: '224c')}"
                                            srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif"
                                        >
                                        <source
                                            media="(min-width: 1320px)"
                                            data-srcset="{f:uri.image(image: data_item.tx_mask_sliderimage.0, width: '440', height: '205c')}"
                                            srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif"
                                        >
                                        <img
                                            src="/typo3conf/ext/bn_typo_dist76/Files//img/layout/IMG_placeholder_1x1.gif"
                                            data-src="{f:uri.image(image: data_item.tx_mask_sliderimage.0, width: '440', height: '205c')}"
                                            data-sizes="auto"
                                            class="lazyload"
                                            alt="{data_item.tx_mask_sliderimage.0.alternative}"
                                            title="{data_item.tx_mask_sliderimage.0.title}"
                                        >
                                    </picture>

                                    <div class="showcase-slider-item-overlay">
                                        <div class="showcase-slider-item-overlay-inner">
                                            <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data_item.tx_mask_itemcaption}</f:format.html>
                                        </div>
                                    </div>
                                </div>


                                <svg class="decorative-arrow-down" viewBox="0 0 50 50">
                                    <polygon class="decorative-arrow-down-polygon" points="0,0 50,0 25.0,26.1"></polygon>
                                </svg>
                            </div>
                        </div>
                    </f:for>
                </div>
            </div>

            <div class="offer_detail js_offer_detail_items slider-margin-slick">
                <f:for each="{data.tx_mask_sliderelementitems}" as="data_item">

                    <f:render partial="showcase-slider-item.html" arguments="{
                        title: data_item.tx_mask_title,
                        text: data_item.tx_mask_text,
                        gallery: data_item.tx_mask_gallery,
                        showRequestButton: 1
                    }" />
                </f:for>
            </div>

        </div>
    </div>
</section>
