<div class="ma_center">
    <f:render partial="stdheader.html" arguments="{header: data.header, subheader: data.subheader, uid: data.uid}" />
</div>

<div
    class="google-maps-element js-google-maps-element {f:if(condition: '{data.header}{data.subheader}', else: 'google-maps-element-no-headings')}"
    data-destination-address="{data.tx_mask_destinationaddress}"
    data-zoom-factor="{data.tx_mask_mapzoomfactor}"
    data-center-longitude="{data.tx_mask_mapcenterlongitude}"
    data-center-latitude="{data.tx_mask_mapcenterlatitude}"
    data-marker-title="{data.tx_mask_markertitle}"
    data-marker-icon-path="/{data.tx_mask_markericon.0.originalFile.publicUrl}"
>
    <div class="google-maps-container">
        <div class="ma_center google-maps-search-form-wrap">
            <form class="google-maps-search-form no-custom-texting">
                <input type="text" class="standard-input-field google-maps-search-input" id="gm_start" name="start">
                <button type="submit" class="standard-action-btn google-maps-search-btn">
                    <f:translate key="LLL:EXT:bn_typo_dist76/Files/translations/locallang.xlf:calcRoute" />
                </button>

                <div class="google-maps-error-popup" id="map-error">
                    <div class="error-message"></div>
                    <button type="button" class="button standard-action-btn">OK</button>
                </div>
            </form>
        </div>
        <div id="map_canvas_route" class="google-maps-map lazyload">
            <div class="loading-box loading-animation loading-box-full-spanning"></div>
        </div>
    </div>
</div>
<div class="hidden map-error-text">
    <span id="error_address_notfound" class="hidden">
        <p><f:translate key="LLL:EXT:bn_typo_dist76/Files/translations/locallang.xlf:errorAddressNotfound" /></p>
    </span>
    <span id="error_insert_address" class="hidden">
        <p><f:translate key="LLL:EXT:bn_typo_dist76/Files/translations/locallang.xlf:errorInsertAddress" /></p>
    </span>
</div>
