<div class="highlights-container ma_center">
    <f:render partial="stdheader.html" arguments="{header: data.header, subheader: data.subheader, uid: data.uid}" />

    <div class="highlights-container-inner">
        <f:for each="{data.tx_mask_highlights}" as="data_item">
            <div class="highlights-box">
                <div class="highlights-box-title">{data_item.tx_mask_title}</div>
                <f:render partial="highlights-slider.html" arguments="{fileList: data_item.tx_mask_images}"></f:render>

                <div class="highlights-box-text">
                    <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data_item.tx_mask_text}</f:format.html>
                </div>
            </div>
        </f:for>
    </div>
</div>
