<div class="ma_center">
    <f:render partial="stdheader.html" arguments="{header: data.header, subheader: data.subheader, uid: data.uid}" />
</div>

<div class="image-text-box ma_center">
    <div class="image-text-box-image-container">
        <f:image
            class="image-text-box-image"
            image="{data.image.0}"
            alt="{data.image.0.alternative}"
        />
    </div>
    <div class="image-text-box-text">
        <h3 class="image-text-box-title">{data.header}</h3>
        <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html>
    </div>
</div>
