<f:if condition="{data.tx_mask_logo}">
    <f:link.typolink parameter="{data.tx_mask_logo.0.link}" title="{data.tx_mask_logo.0.title}">
        <f:comment><!-- Default max size for logo: 200 px x 120 px --></f:comment>
        <f:image
            image="{data.tx_mask_logo.0}"
            alt="{data.tx_mask_logo.0.alternative}"
            maxWidth="{f:if(condition: data.tx_mask_logomaxwidth, then: data.tx_mask_logomaxwidth, else: 200)}"
            maxHeight="{f:if(condition: data.tx_mask_logomaxheight, then: data.tx_mask_logomaxheight, else: 120)}"
        />
    </f:link.typolink>
</f:if>
