<f:comment><!--
    TODO: switch width an height where `largeSrcset` is specified in the comment
    according to number of images (see deleted image_gallery.ts file)
--></f:comment>

<section id="c{data.uid}" class="image_gallery row">
    <div class="ma_center">
        <f:render partial="stdheader.html" arguments="{header: data.header, subheader: data.subheader, uid: data.uid}" />

        <div class="gall_wrapper">
            <div class="gallery_slider clearfix box_count_{data.tx_mask_number_of_preview_images}">

                <f:for each="{data.image}" as="file" iteration="fileIteration">
                    <f:if condition="{fileIteration.index} < {data.tx_mask_number_of_preview_images}">
                        <div class="item clearfix">
                            <div class="sub_item">
                                <f:if condition="{file.link}">
                                  <f:then>
                                    <a href="{file.link}" title="{file.title}" class="mfp-item-video">
                                        <picture class="picture">
                                            <!--[if IE 9]><video style="display: none"><![endif]-->
                                            <source
                                                srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif"
                                                data-srcset="{f:uri.image(image: '{file}', width: '470c', height: '266c')}"
                                                media="(max-width: 550px)"
                                            >
                                            <source
                                                srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif"
                                                data-srcset="{f:uri.image(image: '{file}', width: '678c', height: '383c')}"
                                                media="(max-width: 767px)"
                                            >

                                            <f:comment><!-- largeSrcset --></f:comment>
                                            <source
                                                srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif"
                                                data-srcset="{f:uri.image(image: '{file}', width: '768c', height: '434c')}"
                                                media="(min-width: 768px)"
                                            >

                                            <!--[if IE 9]></video><![endif]-->

                                            <img
                                                src="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif"
                                                data-original="{f:uri.image(image: '{file}', maxWidth: '481c', maxHeight: '48c')}"
                                                class="lazyload"
                                                data-sizes="auto"
                                                alt="{file.alternative}"
                                                title="{file.title}"
                                            >

                                        </picture>
                                        <div class="gallery_overlay_video">
                                            <span class="icon-lp-video gallery_overlay_video_icon"></span>
                                        </div>
                                    </a>
                                  </f:then>
                                  <f:else>
                                    <a href="{f:uri.image(image: '{file}', maxWidth: '1260c-0', maxHeight: '710')}" title="{file.title}" class="mfp-item image-popup-container">
                                        <span class="icon-lp-zoom image-popup-icon"></span>
                                        <picture class="picture">
                                            <!--[if IE 9]><video style="display: none"><![endif]-->
                                            <source
                                                srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif"
                                                data-srcset="{f:uri.image(image: '{file}', width: '470c', height: '266c')}"
                                                media="(max-width: 550px)"
                                            >
                                            <source
                                                srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif"
                                                data-srcset="{f:uri.image(image: '{file}', width: '678c', height: '383c')}"
                                                media="(max-width: 767px)"
                                            >

                                            <f:comment><!-- largeSrcset --></f:comment>
                                            <source
                                                srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif"
                                                data-srcset="{f:uri.image(image: '{file}', width: '768c', height: '434c')}"
                                                media="(min-width: 768px)"
                                            >

                                            <!--[if IE 9]></video><![endif]-->

                                            <img
                                                src="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif"
                                                data-original="{f:uri.image(image: '{file}', maxWidth: '481c', maxHeight: '48c')}"
                                                class="lazyload"
                                                data-sizes="auto"
                                                alt="{file.alternative}"
                                                title="{file.title}"
                                            >

                                        </picture>
                                    </a>
                                    <div class="gallery_overlay"></div>
                                  </f:else>
                                </f:if>
                            </div>
                        </div>
                    </f:if>
                </f:for>


                <f:for each="{data.image}" as="file" iteration="fileIteration">
                    <f:if condition="{fileIteration.index} >= {data.tx_mask_number_of_preview_images}">
                        <div class="item">
                            <a href="{f:uri.image(image: '{file}', maxWidth: 1260, maxHeight: 710)}" title="{file.title}" class="mfp-item">
                                <f:image
                                    src="{f:uri.image(image: '{file}', width: 1, height: 1)}"
                                    width="1"
                                    height="1"
                                    alt="{file.alternative}"
                                />
                            </a>
                        </div>
                    </f:if>
                </f:for>

            </div>
        </div>
    </div>
</section>
