{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<div class="multi-slider js-multi-slider ma_center">
    <ul class="multi-slider-tabs" role="tablist">
        <f:for each="{data.tx_mask_slideritems}" as="data_item" iteration="iterator">
            <li class="multi-slider-tab-selector {f:if(condition: iterator.index, then: '', else: 'active')}" role="presentation">
                <a
                    href="#tab-content-{v:format.url.sanitizeString(string: data_item.tx_mask_tabtitle)}-{data.uid}-{iterator.cycle}"
                    class="multi-slider-tab-title"
                    role="tab"
                    data-toggle="tab"
                ><span><f:format.raw>{data_item.tx_mask_tabtitle}</f:format.raw></span></a>
                <svg class="decorative-arrow-down" viewBox="0 0 50 50">
                    <polygon class="decorative-arrow-down-polygon" points="0,0 50,0 25.0,26.1"></polygon>
                </svg>
            </li>
        </f:for>
    </ul>
    <div class="multi-slider-items multi-slider-tab-content tab-content">
        <f:for each="{data.tx_mask_slideritems}" as="data_item" iteration="iterator">
            <div
                id="tab-content-{v:format.url.sanitizeString(string: data_item.tx_mask_tabtitle)}-{data.uid}-{iterator.cycle}"
                class="multi-slider-item js-multi-slider-inner tab-pane fade {f:if(condition: iterator.index, then: '', else: 'in active')}"
                role="tabpanel"
            >
                <div class="multi-slider-item-inner flex-slick-slider slider-margin-slick js-multi-slider-inner-slider">
                    <f:for each="{data_item.tx_mask_nestedslideritems}" as="data_item_item">
                        <div class="multi-slider-nested-item">
                            <div class="multi-slider-text-wrap">
                                <span class="multi-slider-item-title">{data_item_item.tx_mask_title}</span>
                                <div class="multi-slider-item-description">
                                    <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data_item_item.tx_mask_description}</f:format.html>
                                </div>
                            </div>
                            <div class="multi-slider-item-image-container">
                                <img
                                    class="lazyload"
                                    srcset="
                                        {f:uri.image(src: 'typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/transparent-pixel.png', width: '16', height: '9')} 16w
                                    "
                                    data-srcset="
                                        {f:uri.image(image: data_item_item.tx_mask_image.0, width: '200', height: '113c')} 200w,
                                        {f:uri.image(image: data_item_item.tx_mask_image.0, width: '300', height: '169c')} 300w,
                                        {f:uri.image(image: data_item_item.tx_mask_image.0, width: '400', height: '225c')} 400w
                                    "
                                    sizes="(min-width: 641px) 40vw, (min-width: 1024px) 25vw, (min-width: 1351px) 364px, 80vw"
                                    src="{f:uri.image(src: 'typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/transparent-pixel.png', width: '16', height: '9')}"
                                    data-src="{f:uri.image(image: data_item_item.tx_mask_image.0, width: '300', height: '169c')}"
                                    alt="{data_item_item.tx_mask_image.0.alternative}"
                                    title="{data_item_item.tx_mask_image.0.title}"
                                >
                            </div>
                        </div>
                    </f:for>
                </div>

                <div class="slider-arrows-sticky-container js-slider-arrows-sticky-container">
                    <div class="slider-arrows-sticky-inner js-slider-arrows-sticky-inner"></div>
                </div>
            </div>
        </f:for>
    </div>
</div>
