<div class="partner-logos">
    <ul class="partner-logos-list inline-list">
        <f:for each="{data.tx_mask_logos}" as="file">
            <f:link.typolink parameter="{file.link}" target="_blank" title="{file.title">
                <li class="partner-logos-item inline-list-item">
                    <img
                            src="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif"
                            data-src="{f:uri.image(image: file, maxHeight: 60, maxWidth: 270)}"
                            class="partner-logos-image lazyload"
                            alt="{file.alternative}"
                            title="{file.title}"
                    >
                </li>
            </f:link.typolink>
        </f:for>
    </ul>
</div>

