<div class="quote-box js-quote-box">
    <f:if condition="{data.tx_mask_selected_portal_logo}">
        <div class="quote-box-logo-container">
            <f:link.typolink parameter="{data.header_link}" title="{data.tx_mask_portal_name}">
                <f:switch expression="{data.tx_mask_selected_portal_logo}">
                    <f:case value="tripadvisor">
                        <f:render partial="logo-tripadvisor.svg" />
                    </f:case>
                    <f:case value="holidaycheck">
                        <f:render partial="logo-holidaycheck.svg" />
                    </f:case>
                    <f:case value="camping.info">
                        <f:render partial="logo-camping.info.svg" />
                    </f:case>
                </f:switch>
            </f:link.typolink>
        </div>
    </f:if>

    <div class="quote-box-text-wrap ma_center">
        <span class="icon-lp-quote-opening first-icon"></span>

        <div class="quote-box-text">
            <f:format.raw>{data.bodytext}</f:format.raw>

            <f:if condition="{data.tx_mask_author}{data.tx_mask_portal_name}">
                <span class="quote-box-additional-info">
                    (<f:if condition="{data.tx_mask_author}"><span class="quote-box-additional-info-item">{data.tx_mask_author}</span></f:if><f:if condition="{data.tx_mask_portal_name}"><span class="quote-box-additional-info-item"><f:link.typolink parameter="{data.header_link}" title="{data.tx_mask_portal_name}">{data.tx_mask_portal_name}</f:link.typolink></span></f:if>)
                </span>
            </f:if>
        </div>

        <span class="icon-lp-quote-opening second-icon"></span>
    </div>
</div>
