<f:if condition="{data.tx_mask_quote_boxes}">
    <div class="ma_center content-quote-boxes-container">
        <f:for each="{data.tx_mask_quote_boxes}" as="data_item">
            <f:cObject typoscriptObjectPath="lib.tx_mask.content">{data_item.uid}</f:cObject>
        </f:for>
    </div>
</f:if>
