<section id="quickrequest" class="quickrequest container">
    <div class="ma_center">
        <f:render partial="stdheader.html" arguments="{header: data.header, subheader: data.subheader, uid: data.uid}" />
    </div>
    <div class="selected-item-box js-selected-offer-box hidden">
        <div class="selected-item-box-header-bar">
            <div class="ma_center"><f:translate key="LLL:EXT:bn_typo_dist76/Files/translations/locallang.xlf:offerSelected" /><button class="js-selected-item-box-close-button selected-item-box-close-button icon-lp-cross"></button></div>
        </div>
        <div class="selected-item-box-inner ma_center js-offer-transfer">
            <div class="selected-item-box-image js-selected-item-box-image"></div>
            <div class="selected-item-box-text js-selected-item-box-text"></div>
        </div>
    </div>
    <div class="qr">
        <div class="request no-custom-texting">
            <div class="text ma_center">{data.tx_mask_form_bar_caption}</div>
        </div>
        <div class="ma_center js-request-form-outer request-form-outer-loading loading-animation lazyload">
            <f:comment><!-- Switch the data-dynform-code to portal when there are at least 2 eHotelier-IDs --></f:comment>
            <div
                id="collective"
                data-ehotelier_id="
                    <f:for each='{data.tx_mask_ehotelier_ids_form}' as='data_item'>
                        {data_item.tx_mask_ehotelierid},
                    </f:for>
                "
                data-ehotelier_portal_id="{data.tx_mask_form_portal_id}"
                class="bn-dynform-init quickrequest_container no-custom-texting js-request-form-container"

                data-dynform-code="{f:if(condition: '{data.tx_mask_ehotelier_ids_form -> f:count()} < 2', then: 'lp_quickrequest_v1', else: 'lp_quickrequest_portal_v1')}"
                data-dynform-options="
                    <![CDATA[{]]>
                        'url_success': '{f:uri.typolink(parameter: data.tx_mask_form_success_link)}',
                        'doubleopturl': '{f:uri.typolink(parameter: data.tx_mask_form_doubleopt_link)}',
                        'url_privacy': '{f:uri.typolink(parameter: data.tx_mask_form_privacy_link)}'
                    <![CDATA[}]]>
                "
            >
            </div>

        </div>
    </div>

    <f:render partial="dynforms-replacement-markup.html" arguments="{data: data}" />
</section>
