<div class="offer container">
    <div class="offer_detail ma_center">
        <f:render partial="showcase-slider-item.html" arguments="{
            title: data.header,
            text: data.bodytext,
            gallery: data.tx_mask_showcaseboxgallery,
            showRequestButton: 0,
            multiColumnText: 1
        }" />
    </div>
</div>
