<f:if condition="{data.image}">
    <div class="socialshare">
        <div class="ma_center">
            <f:for each="{data.image}" as="file">
                <f:link.typolink parameter="{file.link}">
                    <f:image class="logo-bar-image" image="{file}" alt="{file.alternative}" maxWidth="200" maxHeight="200" />
                </f:link.typolink>
            </f:for>
        </div>
    </div>
</f:if>
