<section id="c{data.uid}" class="c_el row std_content normal">
    <div class="clearfix frame ma_center">
        <f:render partial="stdheader.html" arguments="{header: data.header, subheader: data.subheader, uid: data.uid}" />

        <f:if condition="{data.image}">
            <f:then>
                <div class="wrapper">
                    <div class="text">
                        <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html>
                    </div>

                    <f:for each="{data.image}" as="file">
                        <picture class="picture">
                            <!--[if IE 9]><video style="display: none"><![endif]-->
                                <source
                                    srcset="{f:uri.image(image: '{file}', width: '678c', height: '383c')}"
                                    media="(min-width: 1px)"
                                >
                            <!--[if IE 9]></video><![endif]-->
                            <img
                                src="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif"
                                data-original="{f:uri.image(image: '{file}', maxWidth: '481c', maxHeight: '48c')}"
                                class="lazyload"
                                data-sizes="auto"
                                alt="{file.alternative}"
                                title="{file.title}"
                            >
                        </picture>
                    </f:for>
                </div>
            </f:then>

            <f:else>
                <div class="text">
                    <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html>
                </div>
            </f:else>
        </f:if>


    </div>
</section>
