<section class="tab-slider-box js-tab-slider-box">
    <div class="ma_center">
        <f:render partial="stdheader.html" arguments="{header: data.header, subheader: data.subheader, uid: data.uid}" />

        <div class="tab-slider-box-switcher js-tab-slider-box-switcher flex-slick-slider slider-small-margin-slick">
            <f:for each="{data.tx_mask_slideritems}" as="data_item">
                <span class="tab-slider-box-switcher-item js-tab-slider-box-switcher-item">
                    {data_item.tx_mask_tabtitle}
                </span>
            </f:for>
        </div>

        <div class="tab-slider-box-slider-outer">
            <div class="js-tab-slider-box-slider tab-slider-box-slider slider-margin-slick">

                <f:for each="{data.tx_mask_slideritems}" as="data_item">
                    <div class="tab-slider-box-item">
                        <div class="tab-slider-box-item-inner">
                            <div class="tab-slider-box-image-wrapper js-tab-slider-box-image-slider-outer">
                                <div class="tab-slider-box-image-slider js-tab-slider-box-image-slider owl-carousel">
                                    <f:for each="{data_item.tx_mask_images}" as="file">
                                        <div class="img-aspect-ratio-container tab-slider-box-image-container">
                                            <picture class="picture">
                                                <!--[if IE 9]><video style="display: none"><![endif]-->
                                                <source
                                                    srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif"
                                                    data-srcset="{f:uri.image(image: '{file}', width: '450c', height: '280c')}"
                                                    media="(max-width: 450px)"
                                                >
                                                <source
                                                    srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif"
                                                    data-srcset="{f:uri.image(image: '{file}', width: '600c', height: '320c')}"
                                                    media="(max-width: 600px)"
                                                >
                                                <source
                                                    srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif"
                                                    data-srcset="{f:uri.image(image: '{file}', width: '768c', height: '292c')}"
                                                    media="(max-width: 768px)"
                                                >
                                                <source
                                                    srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif"
                                                    data-srcset="{f:uri.image(image: '{file}', width: '1050c', height: '399c')}"
                                                    media="(max-width: 1050px)"
                                                >
                                                <source
                                                    srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif"
                                                    data-srcset="{f:uri.image(image: '{file}', width: '415c', height: '500c')}"
                                                    media="(max-width: 1180px)"
                                                >
                                                <source
                                                    srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif"
                                                    data-srcset="{f:uri.image(image: '{file}', width: '650c', height: '600c')}"
                                                    media="(max-width: 1320px)"
                                                >
                                                <source
                                                    srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif"
                                                    data-srcset="{f:uri.image(image: '{file}', width: '600c', height: '400c')}"
                                                    media="(min-width: 1320px)"
                                                >
                                                <!--[if IE 9]></video><![endif]-->
                                                <img
                                                    src="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif"
                                                    data-src="{f:uri.image(image: '{file}', width: '481c', height: '480c')}"
                                                    class="lazyload"
                                                    data-sizes="auto"
                                                    alt="{file.alternative}"
                                                    title="{file.title}"
                                                >
                                            </picture>
                                        </div>
                                    </f:for>
                                </div>
                                <div class="slick-dots js-tab-slider-box-image-slider-dots" role="tablist"></div>
                            </div>
                            <div class="tab-slider-box-text-container js-read-more-wrap">
                                <div class="js-read-more-text read-more-text-container tab-slider-read-more-text-container">
                                    <div class="tab-slider-box-headline">{data_item.tx_mask_elementtitle}</div>
                                    <div class="tab-slider-box-body-text">
                                        <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data_item.tx_mask_text}</f:format.html>
                                    </div>
                                </div>
                                <div class="hidden js-full-text-container text-box-more-info-inner"></div>
                                <div class="action-button-container read-more-button-container">
                                    <button class="action-button no-custom-texting js-read-more-button">
                                        <span class="read-more-button-more-text"><f:translate key="LLL:EXT:bn_typo_dist76/Files/translations/locallang.xlf:readMore" /> <span class="icon-lp-arrow-down-2 request-offer-button-icon"></span></span>
                                        <span class="read-more-button-less-text"><f:translate key="LLL:EXT:bn_typo_dist76/Files/translations/locallang.xlf:showLessText" /> <span class="icon-lp-arrow-up-2 request-offer-button-icon"></span></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </f:for>

            </div>
            <div class="slider-arrows-sticky-container js-slider-arrows-sticky-container">
                <div class="slider-arrows-sticky-inner js-slider-arrows-sticky-inner"></div>
            </div>
        </div>
    </div>
</section>
