<f:if condition="{data.image}">
    <div class="trust-badges">
        <f:for each="{data.image}" as="file">
            <f:image class="trust-badges-image" image="{file}" alt="{file.alternative}" title="{file.title}" maxWidth="200" />
        </f:for>
    </div>
</f:if>
