<div class="ma_center">
    <f:render partial="stdheader.html" arguments="{header: data.header, subheader: data.subheader, uid: data.uid}" />
</div>
<div class="video-teaser ma_center">
    <iframe
        class="video-teaser-frame lazyload"
        width="560"
        height="315"
        data-src="https://www.youtube.com/embed/{data.tx_mask_youtubevideoid}"
        allowfullscreen
    ></iframe>
</div>
