{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:comment>
    This works as follows: If a widget is set to be placed in an iframe, the URL for the
    iframe is generated. Otherwise a template is inserted instead of the markup, which is then
    parsed and inserted using JS.
    The iframe is
</f:comment>

<div class="widgets-container">
    <f:for each="{data.tx_mask_widgets_container}" as="data_item" iteration="widgetIteration">
        <div class="widgets-container-widget js-widgets-container-widget">
            <div class="widgets-container-widget-inner">
                <f:if condition="{data_item.tx_mask_place_in_iframe}">
                    <f:then>
                        <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.urlGetParameter', data: 'iframeWidgetCycle')} == {widgetIteration.cycle}">
                            <f:then>
                                {data_item.tx_mask_widget_code -> f:format.raw()}
                            </f:then>
                            <f:else>
                                <iframe
                                    style="width: {data_item.tx_mask_widget_width}px; height: {data_item.tx_mask_widget_height}px;"
                                    class="js-widgets-container-iframe widgets-container-iframe lazyload"
                                    scrolling="no"
                                    data-src="{f:uri.page(additionalParams: '{type: 1, colpos: 8, iframeWidgetCycle: widgetIteration.cycle}')}"
                                ></iframe>
                            </f:else>
                        </f:if>
                    </f:then>
                    <f:else>
                        <div class="js-widget-lazyload-trigger widget-lazyload-trigger lazyload">
                            <script class="js-widget-template" type="text/x-template">
                                <f:comment><!-- Escape script tag --></f:comment>
                                <v:format.replace substring="</script>" replacement="<\/script>">
                                    {data_item.tx_mask_widget_code -> f:format.raw()}
                                </v:format.replace>
                            </script>
                        </div>
                    </f:else>
                </f:if>
            </div>
        </div>
    </f:for>
</div>

