<f:render partial="editor-snippet-buttons.html" />

<header class="header">
    <div class="main-header-variant-container h_top">
        <div class="header-logos-wrapper">
            <div class="logo">
                <f:format.raw>{LOGO}</f:format.raw>
            </div>
        </div>
        <div class="right">
            <f:render partial="language-menu.html" />

            <f:comment><!--
                Only show the CTA button if the frontend layoutwith header
                slider was selected
            --></f:comment>
            <f:if condition="{data.layout} == 110">
                <button class="call-to-action-button request scroll js-request-scroll-button no-custom-texting" type="button">
                    <f:format.raw>{REQUEST}</f:format.raw>
                </button>
            </f:if>
        </div>
    </div>
</header>
<f:if condition="{data.layout} == 110">
    <div class="ma_slider">
        <div class="main-header-variant-container">
            <f:format.raw>{SLOGAN}</f:format.raw>

            <f:format.raw>{VISTA}</f:format.raw>
            <div class="quote-slider">
                <div class="js-quote-slider">
                    <f:format.raw>{ZITAT}</f:format.raw>
                </div>
            </div>
        </div>
    </div>
</f:if>
<main class="main">
    <f:format.raw>{CONTENT}</f:format.raw>

    <f:if condition="{data.layout} == 110">
        <button class="call-to-action-button request fixed scroll request_button_hidden js-request-scroll-button no-custom-texting" type="button">
            <f:format.raw>{REQUEST_MAIN}</f:format.raw>
        </button>
    </f:if>
</main>

<footer class="footer">
    <div class="ma_center main-footer-inner">
        <div class="left">
            <f:format.raw>{WIDGET_CONTAINER}</f:format.raw>
        </div>
        <div class="right">
            <div id="legalM" class="legal-menu">
                <f:format.raw>{LEGAL_MENU}</f:format.raw>

                <f:format.raw>{POWERED_BY}</f:format.raw>
            </div>

            <f:format.raw>{PARTNER_LOGOS}</f:format.raw>
        </div>
    </div>
</footer>

<f:render partial="phone-call-button.html" arguments="{phoneNumberForLink: phoneNumberForLink, phoneCallCaption: phoneCallCaption}" />


<f:comment><!--
    If the frontend layout was set to the mail confirm page,
    render this element. Its existence is then checked with JavaScript
--></f:comment>
<f:if condition="{data.layout} == 120">
    <div data-is-mail-confirm-page></div>
</f:if>

<f:comment><!--
    Contitional recognition element for the 404 error page
--></f:comment>
<f:if condition="{data.layout} == 130">
    <div data-is-404-error-page></div>
</f:if>
