<f:layout name="default" />
<f:section name="content">
    <urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
        <f:render partial="Sitemap" arguments="{pagetree: pagetree}" />
    </urlset>
</f:section>