@import "variables";

@font-face {
  font-family: 'standard-lp-icons';
  src:
    url('#{$icomoon-font-path}/standard-lp-icons.ttf?sas5eh') format('truetype'),
    url('#{$icomoon-font-path}/standard-lp-icons.woff?sas5eh') format('woff'),
    url('#{$icomoon-font-path}/standard-lp-icons.svg?sas5eh#standard-lp-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-lp-"], [class*=" icon-lp-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'standard-lp-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lp-phone {
  &:before {
    content: $icon-lp-phone;
  }
}
.icon-lp-zoom {
  &:before {
    content: $icon-lp-zoom;
  }
}
.icon-lp-video {
  &:before {
    content: $icon-lp-video;
  }
}
.icon-lp-arrow-right-large {
  &:before {
    content: $icon-lp-arrow-right-large;
  }
}
.icon-lp-arrow-up-2 {
  &:before {
    content: $icon-lp-arrow-up-2;
  }
}
.icon-lp-arrow-down-2 {
  &:before {
    content: $icon-lp-arrow-down-2;
  }
}
.icon-lp-tick {
  &:before {
    content: $icon-lp-tick;
  }
}
.icon-lp-plus-sign {
  &:before {
    content: $icon-lp-plus-sign;
  }
}
.icon-lp-minus-sign {
  &:before {
    content: $icon-lp-minus-sign;
  }
}
.icon-lp-arrow-right-2 {
  &:before {
    content: $icon-lp-arrow-right-2;
  }
}
.icon-lp-arrow-left {
  &:before {
    content: $icon-lp-arrow-left;
  }
}
.icon-lp-arrow-right {
  &:before {
    content: $icon-lp-arrow-right;
  }
}
.icon-lp-calendar {
  &:before {
    content: $icon-lp-calendar;
  }
}
.icon-lp-cross {
  &:before {
    content: $icon-lp-cross;
  }
}
.icon-lp-euro-sign {
  &:before {
    content: $icon-lp-euro-sign;
  }
}
.icon-lp-quote-closing {
  &:before {
    content: $icon-lp-quote-closing;
  }
}
.icon-lp-quote-opening {
  &:before {
    content: $icon-lp-quote-opening;
  }
}

