@font-face {
  font-family: 'standard-lp-icons';
  src:
    url('fonts/standard-lp-icons.ttf?sas5eh') format('truetype'),
    url('fonts/standard-lp-icons.woff?sas5eh') format('woff'),
    url('fonts/standard-lp-icons.svg?sas5eh#standard-lp-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-lp-"], [class*=" icon-lp-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'standard-lp-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lp-phone:before {
  content: "\e909";
}
.icon-lp-zoom:before {
  content: "\e907";
}
.icon-lp-video:before {
  content: "\e908";
}
.icon-lp-arrow-right-large:before {
  content: "\e904";
}
.icon-lp-arrow-up-2:before {
  content: "\e902";
}
.icon-lp-arrow-down-2:before {
  content: "\e903";
}
.icon-lp-tick:before {
  content: "\e90f";
}
.icon-lp-plus-sign:before {
  content: "\e90a";
}
.icon-lp-minus-sign:before {
  content: "\e90c";
}
.icon-lp-arrow-right-2:before {
  content: "\e911";
}
.icon-lp-arrow-left:before {
  content: "\e901";
}
.icon-lp-arrow-right:before {
  content: "\e910";
}
.icon-lp-calendar:before {
  content: "\e900";
}
.icon-lp-cross:before {
  content: "\e905";
}
.icon-lp-euro-sign:before {
  content: "\e906";
}
.icon-lp-quote-closing:before {
  content: "\e90b";
}
.icon-lp-quote-opening:before {
  content: "\e90e";
}

