$icomoon-font-path: "fonts" !default;

$icon-lp-phone: "\e909";
$icon-lp-zoom: "\e907";
$icon-lp-video: "\e908";
$icon-lp-arrow-right-large: "\e904";
$icon-lp-arrow-up-2: "\e902";
$icon-lp-arrow-down-2: "\e903";
$icon-lp-tick: "\e90f";
$icon-lp-plus-sign: "\e90a";
$icon-lp-minus-sign: "\e90c";
$icon-lp-arrow-right-2: "\e911";
$icon-lp-arrow-left: "\e901";
$icon-lp-arrow-right: "\e910";
$icon-lp-calendar: "\e900";
$icon-lp-cross: "\e905";
$icon-lp-euro-sign: "\e906";
$icon-lp-quote-closing: "\e90b";
$icon-lp-quote-opening: "\e90e";

