{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<div class="header_slider">
<f:for each="{seasonmedia.0.headerimage}" as="image" iteration="imageIteration">
   <div class="item">
        <f:if condition="{imageIteration.index} == 0">
            <f:comment><!-- First image is non-lazy --></f:comment>
            <f:then>
                <f:comment><!-- Image aspect ratio: 16:9 --></f:comment>
                <v:media.image
                    src="{image.originalResource.publicUrl}"
                    srcset="320,480,768,1024,1440,1920,2560"
                    alt="{image.originalResource.alternative}"
                    title="{image.originalResource.title}"
                    class="main-header-slider-img"
                    additionalAttributes="{
                        sizes: '100vw'
                    }"
                />
            </f:then>

            <f:comment><!-- Load other header images lazily --></f:comment>
            <f:else>
                <img
                    src="{f:uri.image(src: 'typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/transparent-pixel.png', width:'1440c', height:'810')}"
                    data-src="{image.originalResource.publicUrl}"
                    srcset="
                        {f:uri.image(src: 'typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/transparent-pixel.png', width:'320c', height:'180')} 320w,
                        {f:uri.image(src: 'typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/transparent-pixel.png', width:'480c', height:'270')} 480w,
                        {f:uri.image(src: 'typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/transparent-pixel.png', width:'768c', height:'432')} 768w,
                        {f:uri.image(src: 'typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/transparent-pixel.png', width:'1024c', height:'576')} 1024w,
                        {f:uri.image(src: 'typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/transparent-pixel.png', width:'1440c', height:'810')} 1440w,
                        {f:uri.image(src: 'typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/transparent-pixel.png', width:'1920c', height:'1080')} 1920w,
                        {f:uri.image(src: 'typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/transparent-pixel.png', width:'2560c', height:'1440')} 2560w
                    "
                    data-srcset="
                        {f:uri.image(image: '{image}', width:'320c', height:'180')} 320w,
                        {f:uri.image(image: '{image}', width:'480c', height:'270')} 480w,
                        {f:uri.image(image: '{image}', width:'768c', height:'432')} 768w,
                        {f:uri.image(image: '{image}', width:'1024c', height:'576')} 1024w,
                        {f:uri.image(image: '{image}', width:'1440c', height:'810')} 1440w,
                        {f:uri.image(image: '{image}', width:'1920c', height:'1080')} 1920w,
                        {f:uri.image(image: '{image}', width:'2560c', height:'1440')} 2560w
                    "
                    alt="{image.originalResource.alternative}"
                    title="{image.originalResource.title}"
                    class="main-header-slider-img lazyload"
                    sizes="100vw"
                >
            </f:else>
        </f:if>

    </div>
</f:for>
</div>
