<div class="header_slider">
<f:for each="{seasonmedia.0.headerimage}" as="image" iteration="imageIteration">
    <div class="item">
        <f:if condition="{imageIteration.index} == 0">
            <f:comment><!-- First image is non-lazy --></f:comment>
            <f:then>
                <picture class="picture">
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source
                        media="(max-width: 450px)"
                        srcset="{f:uri.image(image: '{image}', width:'450c', height:'205')}"
                    />
                    <source
                        media="(max-width: 767px)"
                        srcset="{f:uri.image(image: '{image}', width:'767c', height:'349c')}"
                    />
                    <source
                        media="(max-width: 999px)"
                        srcset="{f:uri.image(image: '{image}', width:'999c', height:'454')}"
                    />
                    <source
                        media="(min-width: 999px)"
                        srcset="{f:uri.image(image: '{image}', width:'1320c', height:'600')}"
                    />
                    <!--[if IE 9]></video><![endif]-->
                    <f:image
                        additionalAttributes="{
                            sizes: '100vw'
                        }"
                        image="{image}"
                        width="1320c"
                        height="600c"
                        alt="{image.originalResource.alternative}"
                        title="{image.originalResource.title}"
                    />
                </picture>
            </f:then>

            <f:comment><!-- Load other header images lazily --></f:comment>
            <f:else>
                <picture class="picture">
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source
                        media="(max-width: 450px)"
                        srcset="{f:uri.image(src: 'typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/transparent-pixel.png', width:'450c', height:'205')}"
                        data-srcset="{f:uri.image(image: '{image}', width:'450c', height:'205c')}"
                    />
                    <source
                        media="(max-width: 767px)"
                        srcset="{f:uri.image(src: 'typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/transparent-pixel.png', width:'767c', height:'349')}"
                        data-srcset="{f:uri.image(image: '{image}', width:'767c', height:'349c')}"
                    />
                    <source
                        media="(max-width: 999px)"
                        srcset="{f:uri.image(src: 'typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/transparent-pixel.png', width:'999c', height:'454')}"
                        data-srcset="{f:uri.image(image: '{image}', width:'999c', height:'454c')}"
                    />
                    <source
                        media="(min-width: 999px)"
                        srcset="{f:uri.image(src: 'typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/transparent-pixel.png', width:'1320c', height:'600')}"
                        data-srcset="{f:uri.image(image: '{image}', width:'1320c', height:'600c')}"
                    />
                    <!--[if IE 9]></video><![endif]-->
                    <img
                        data-src="{f:uri.image(image: '{image}', width:'1320c', height:'600')}"
                        sizes="100vw"
                        alt="{image.originalResource.alternative}"
                        title="{image.originalResource.title}"
                        class="lazyload"
                        src="{f:uri.image(src: 'typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/transparent-pixel.png', width:'1320c', height:'600')}"
                    >
                </picture>
            </f:else>
        </f:if>
    </div>
</f:for>
</div>
