
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Page</h1>

<f:flashMessages />

<table  class="tx_seasons" >
	<tr>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{pages}" as="page">
		<tr>
			<td><f:link.action action="edit" arguments="{page : page}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{page : page}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Page</f:link.action>
</f:section>