@font-face {
    font-family: 'weather';
    src:url('icons/weather.eot');
    src:url('icons/weather.eot?#iefix') format('embedded-opentype'),
        url('icons/weather.ttf') format('truetype'),
        url('icons/weather.woff') format('woff'),
        url('icons/weather.svg#weather') format('svg');
    font-weight: normal;
    font-style: normal;
}
.weather-symbol {
	font-family: 'weather';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.weather-symbol_a:before {
	content: "\E001";
}
.weather-symbol_b:before {
	content: "\E002";
}
.weather-symbol_c:before {
	content: "\E003";
}
.weather-symbol_d:before {
	content: "\E004";
}
.weather-symbol_e:before {
	content: "\E005";
}
.weather-symbol_f:before {
	content: "\E006";
}
.weather-symbol_g:before {
	content: "\E007";
}
.weather-symbol_h:before {
	content: "\E008";
}
.weather-symbol_i:before {
	content: "\E009";
}
.weather-symbol_j:before {
	content: "\E00A";
}
.weather-symbol_k:before {
	content: "\E00B";
}
.weather-symbol_l:before {
	content: "\E00C";
}
.weather-symbol_m:before {
	content: "\E00D";
}
.weather-symbol_n:before {
	content: "\E00E";
}
.weather-symbol_o:before {
	content: "\E00F";
}
.weather-symbol_p:before {
	content: "\E010";
}
.weather-symbol_q:before {
	content: "\E011";
}
.weather-symbol_r:before {
	content: "\E012";
}
.weather-symbol_s:before {
	content: "\E013";
}
.weather-symbol_t:before {
	content: "\E014";
}
.weather-symbol_u:before {
	content: "\E015";
}
.weather-symbol_v:before {
	content: "\E016";
}
.weather-symbol_w:before {
	content: "\E017";
}
.weather-symbol_x:before {
	content: "\E018";
}
.weather-symbol_y:before {
	content: "\E019";
}
.weather-symbol_z:before {
	content: "\E01A";
}