
<table class="tx-seasons" >
	<tr>
		<td>
			<f:translate key="tx_bnseasons_domain_model_seasonmedia.headerimage" />
		</td>
		<td>
				<f:for each="{seasonmedia.headerimage}" as="image" >
					<f:image src="{image.originalResource.publicUrl}" width="200"/>
				</f:for>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bnseasons_domain_model_seasonmedia.headertext" />
		</td>
		<td>
		{seasonmedia.headertext}
		</td>
	</tr>
</table>