<f:layout name="Default" />

<f:section name="main">
    <h1>Willkommen zur Seasons 1.0.3</h1>
    <p>
        Debug Ausgabe aller im Template verfügbaren Variablen
    </p>
    <p>
        Bitte beachten: <br />
        Auf jeder Seite können 1 oder mehrere "seasonmedia"-Elemente gepflegt werden. Jedes dieser Elemente wird einer Saison zugeordnet (Sommer/Winter/Frühling) welche frei definierbar sind. In jedem dieser Elemente können 1 oder mehrere "headerimages" gepflegt werden. Somit ist es auch möglich, dass in diesem Template mehrere "seasonmedia"-Elemente ankommen können.
    <br /><b>das Auslesen der Seasonmedia-Elemente darf in den Templates dementsprechend nicht auf seasonmedia.0.headerimage begrenzt werden, siehe Struktur in diesem Beispieltemplate</b>
    </p>

<f:flashMessages renderMode="div" />

<f:if condition="{seasonmedias}">
    <f:debug>{seasonmedias}</f:debug>
    <f:debug>{page}</f:debug>
    <f:debug>{currentseasons}</f:debug>

    <!-- Fuer alle gefundenen und passenden Saisoneinträge -->
    <f:for each="{seasonmedias}" as="season" key="key" iteration="seasonIteration">
        <!-- Alle Bilder durchlaufen -->
        <f:for each="{season.headerimages}" as="pic" key="key2" iteration="imgIteration">
        <div class="image">
            <f:image src="{pic.uid}" treatIdAsReference="TRUE" alt="{page.title}" title="{page.title}" width="700" height="735c-0" />
        </div>
        </f:for>
    </f:for>
</f:if>
<f:else>
    Keine passenden Bilder vorhanden
</f:else>

</f:section>