<div class="editor-snippet-buttons js-editor-snippet-buttons" hidden>
    <button class="editor-snippet-no-custom-texting">Highlight elements with text that remains the same on every LP</button>
    <button class="editor-snippet-document-editable">Make text on page editable</button>
    <button class="editor-snippet-show-heading-anchor-links">Show anchor links for headings</button>
</div>
