{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<v:page.languageMenu
    hideNotTranslated="1"
    labelOverwrite="de, it, en"
    excludeQueryVars="utm_source,utm_medium,utm_campaign,c,gclid,utm_term,utm_content,PHPSESSID,c[ids_hotels][],ADMCMD_cooluri"
>
    <f:comment><!-- Hide language menu if there’s only one language --></f:comment>
    <f:if condition="{f:count(subject: languageMenu)} > 1">
        <f:then>
            <f:spaceless>
                <ul class="lang-nav no-custom-texting">
                    <f:for each="{languageMenu}" as="langmenu">
                        <li class="lang-nav-item {f:if(condition: langmenu.current, then: 'active')}"><a href="{langmenu.url}">{langmenu.label}</a></li>
                   </f:for>
                </ul>
            </f:spaceless>
        </f:then>
        <f:else>
            <f:comment><!--
                The following HTML comment needs to be there, otherwise the languageMenu view helper
                renders the flag image if there’s only one language.
            --></f:comment>
            <!-- -->
        </f:else>
    </f:if>
</v:page.languageMenu>
