<a class="phone-call-button phone-call-button-hidden call-to-action-button js-phone-call-button" href="tel:{phoneNumberForLink}" title="{phoneCallCaption}">
    <span class="icon-lp-phone"></span>
</a>
