{{#if this.records}}
    <div class="ma_center offer-slider-wrapper">
            <div class="showcase-slider-switcher">
                <div class="js_offerbox_switch_items flex-slick-slider">
                    {{> offerSwitchSlider }}
                </div>
            </div>
            <div class="offer_detail js_offer_detail_items slider-margin-slick">
                {{#each this.records}}
                    {{> offerDetail this}}
                {{/each}}
            </div>
        <div class="slider-arrows-sticky-container js-slider-arrows-sticky-container">
            <div class="slider-arrows-sticky-inner js-slider-arrows-sticky-inner"></div>
        </div>
    </div>
{{else}}
    <div class="message-box no-custom-texting ma_center">{{@root.trans.no_offer}}</div>
{{/if}}
