{{#each this.records}}
    <div class="showcase-slider-switcher-item-outer"><div class="showcase-slider-switcher-item">
        {{#with offerhotels.[0]}}
                {{#if image1 }}
                    <div class="img-aspect-ratio-container showcase-slider-image-container">
                        <picture class="picture">
                            <!--[if IE 9]><video style="display: none"><![endif]-->
                                <source media="(max-width: 400px)" data-srcset="https://admin.ehotelier.it/bnlocalproxy.php?path=thumbnails/crop/400x260/offerhotel/{{image1}}" srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif" />
                                <source media="(max-width: 600px)" data-srcset="https://admin.ehotelier.it/bnlocalproxy.php?path=thumbnails/crop/600x400/offerhotel/{{image1}}" srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif" />
                                <source media="(max-width: 700px)" data-srcset="https://admin.ehotelier.it/bnlocalproxy.php?path=thumbnails/crop/700x350/offerhotel/{{image1}}" srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif" />
                                <source media="(max-width: 1320px)" data-srcset="https://admin.ehotelier.it/bnlocalproxy.php?path=thumbnails/crop/480x224/offerhotel/{{image1}}" srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif" />
                                <source media="(min-width: 1320px)" data-srcset="https://admin.ehotelier.it/bnlocalproxy.php?path=thumbnails/crop/440x205/offerhotel/{{image1}}" srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif" />
                            <!--[if IE 9]></video><![endif]-->
                            <img src="/typo3conf/ext/bn_typo_dist76/Files//img/layout/IMG_placeholder_1x1.gif" data-src="https://admin.ehotelier.it/bnlocalproxy.php?path=thumbnails/crop/440x205/offerhotel/{{image1}}" data-sizes="auto" class="lazyload" alt="{{{title}}}" title="{{{title}}}" />
                        </picture>
                    </div>
                {{/if}}
                <div class="text">

                    {{#if title}}
                        <div class="title">
                            {{{title}}}
                        </div>
                    {{/if}}
                    <div class="season no-custom-texting">
                        <span>{{date-from-to from=_farthestDates.minDate to=_farthestDates.maxDate}}</span>
                    </div>
                    <div class="price no-custom-texting">
                        {{#if ../_cheapestRoomprice.nights}}
                            {{../_cheapestRoomprice.nights}} <abbr title="{{pluralization ../_cheapestRoomprice.nights singular=@root.trans.overnight_stay plural=@root.trans.overnight_stays}}">{{@root.trans.overnight_stays_abbreviation}}</abbr>
                        {{/if}}
                        {{@root.trans.ab}} {{currency ../_cheapestRoomprice.roompricePerPerson}}&nbsp;€/{{@root.trans.person}}
                    </div>
                </div>
        {{/with}}
        <svg class="decorative-arrow-down" viewBox="0 0 50 50">
            <polygon class="decorative-arrow-down-polygon" points="0,0 50,0 25.0,26.1"></polygon>
        </svg>
    </div>
    </div>
{{else}}
    <div class="message-box no-custom-texting ma_center">{{@root.trans.no_offers}}</div>
{{/each}}
