<div class="item clearfix">
    {{#with offerhotels.[0]}}
        <div class="intro">
            {{#if title}}
                <div class="title">
                    {{{title}}}
                </div>
            {{/if}}
            {{#if subtitle}}
                <div class="subtitle">
                    {{{subtitle}}}
                </div>
            {{/if}}
        </div>
        <div class="text-box-wrapper">
            <div class="price text-box no-custom-texting">
                <span class="info">{{@root.trans.available}}</span>
                {{#if ../seasondatas}}
                    <div class="emphasized_info_box">
                        <div class="season emphasized_info_box_item">
                            <div class="emphasized_info_box_item_column">
                                <span class="emphasized_info_box_item_icon icon-lp-calendar" title="{{@root.trans.period_of_time}}"></span>
                            </div>
                            <div class="emphasized_info_box_item_column">
                                {{#each ../seasondatas}}
                                    <span class="row emphasized_info_box_row">
                                        {{date-from-to from=fromdate to=todate}}
                                    </span>
                                {{/each}}
                            </div>
                        </div>

                        <div class="prices emphasized_info_box_item">
                            <div class="emphasized_info_box_item_column">
                                <span class="emphasized_info_box_item_icon icon-lp-euro-sign" title="{{@root.trans.price}}"></span>
                            </div>
                            <div class="emphasized_info_box_item_column">
                                <span class="row emphasized_info_box_row">
                                    <ul class="plain-list">
                                        {{#each ../_cheapestRoompricesPerNights}}
                                            <li>
                                                {{#if nights}}
                                                    {{nights}} <abbr title="{{pluralization nights singular=@root.trans.overnight_stay plural=@root.trans.overnight_stays}}">{{@root.trans.overnight_stays_abbreviation}}</abbr>
                                                {{/if}}
                                                {{@root.trans.ab}} {{currency minPrice}}&nbsp;€/{{@root.trans.person}}
                                            </li>
                                        {{/each}}
                                    </ul>
                                </span>
                            </div>
                        </div>
                    </div>
                {{/if}}
            </div>
            {{#if description}}
                <div class="text text-box text-box-more-info js-read-more-wrap">
                    <div class="text-box-more-info-inner js-read-more-text read-more-text-container offer-read-more-text-container">
                        {{{description}}}
                    </div>
                    <div class="hidden js-full-text-container text-box-more-info-inner"></div>
                    <div class="action-button-container read-more-button-container">
                        <button class="action-button no-custom-texting js-read-more-button">
                            <span class="read-more-button-more-text">{{@root.trans.read_more}} <span class="icon-lp-arrow-down-2 request-offer-button-icon"></span></span>
                            <span class="read-more-button-less-text">{{@root.trans.show_less_text}} <span class="icon-lp-arrow-up-2 request-offer-button-icon"></span></span>
                        </button>
                    </div>
                </div>
            {{/if}}
        </div>
        <a class="call-to-action-button request scroll no-custom-texting" data-offername="{{title}}" data-offerid="{{../id}}">
            {{#if @root.settings.showOfferTitleInRequestButton}}
                {{@root.trans.offer}} <strong>{{title}}</strong> {{@root.trans.offer_request}}
                <span class="icon-lp-arrow-right-2 request-offer-button-icon"></span>
            {{else}}
                <strong>{{@root.trans.request_a}}</strong> {{@root.trans.request}}
                <span class="icon-lp-arrow-right-2 request-offer-button-icon"></span>
            {{/if}}
        </a>
        {{#if image1 }}
            <div class="image hidden">
                <img
                    src="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/transparent-pixel.png"
                    srcset="
                        /typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/transparent-pixel.png
                    "
                    data-srcset="
                        https://admin.ehotelier.it/bnlocalproxy.php?path=thumbnails/crop/150x74/offerhotel/{{image1}} 150w,
                        https://admin.ehotelier.it/bnlocalproxy.php?path=thumbnails/crop/336x166/offerhotel/{{image1}} 336w,
                        https://admin.ehotelier.it/bnlocalproxy.php?path=thumbnails/crop/500x247/offerhotel/{{image1}} 500w
                    "
                    sizes="(min-width: 652px) 31vw, (min-width: 866px) 336px, 71vw"
                    class="lazyload"
                    alt="{{{title}}}"
                    title="{{{title}}}"
                >
            </div>
        {{/if}}
        {{#if ../seasondatas}}
            <div class="season hidden">
                {{#each ../seasondatas}}
                    {{#if @first}}
                        <span>
                        {{shortdate fromdate}}
                        {{/if}}

                        {{#if @last}}
                        - {{convertISODate todate}}
                        </span>
                    {{/if}}

                {{/each}}
            </div>
        {{/if}}
        {{#if roomprices}}
            <div class="price hidden">
                {{@root.trans.ab}}
                {{currency ../_cheapestRoomprice.roompricePerPerson}}&nbsp;€/{{@root.trans.person}}
            </div>
        {{/if}}
</div>
{{/with}}
