{{#if this.records}}
    <div class="ma_center offer_from_category_slider offer_category_view">
        <div class="js-offer_from_category_slider slider-margin-slick">
            {{#each this.records}}
                <div class="offer_from_category_item">
                    <div class="showcase-slider-switcher">
                        <div class="showcase-slider-switcher-item-outer specialoffer">
                            <div class="showcase-slider-switcher-item">
                                {{#with offerhotels.[0]}}
                                    {{#if image1 }}
                                        <div class="image img-aspect-ratio-container showcase-slider-full-width-image-container">
                                            <picture class="picture">
                                                <!--[if IE 9]><video style="display: none"><![endif]-->
                                                <source media="(max-width: 400px)" data-srcset="https://admin.ehotelier.it/bnlocalproxy.php?path=thumbnails/crop/400x200/offerhotel/{{image1}}" srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif" />
                                                <source media="(max-width: 600px)" data-srcset="https://admin.ehotelier.it/bnlocalproxy.php?path=thumbnails/crop/600x300/offerhotel/{{image1}}" srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif" />
                                                <source media="(max-width: 700px)" data-srcset="https://admin.ehotelier.it/bnlocalproxy.php?path=thumbnails/crop/700x350/offerhotel/{{image1}}" srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif" />
                                                <source media="(max-width: 999px)" data-srcset="https://admin.ehotelier.it/bnlocalproxy.php?path=thumbnails/crop/999x341/offerhotel/{{image1}}" srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif" />
                                                <source media="(min-width: 1000px)" data-srcset="https://admin.ehotelier.it/bnlocalproxy.php?path=thumbnails/crop/1320x450/offerhotel/{{image1}}" srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif" />
                                                <!--[if IE 9]></video><![endif]-->
                                                <img src="/typo3conf/ext/bn_typo_dist76/Files//img/layout/IMG_placeholder_1x1.gif" data-src="https://admin.ehotelier.it/bnlocalproxy.php?path=thumbnails/crop/440x205/offerhotel/{{image1}}" data-sizes="auto" class="lazyload" alt="{{{title}}}" title="{{{title}}}" />
                                            </picture>
                                        </div>
                                    {{/if}}
                                {{/with}}
                            </div>
                        </div>
                    </div>

                    <div class="offer_detail">
                        {{> offerDetail this}}
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="slider-arrows-sticky-container js-slider-arrows-sticky-container">
            <div class="slider-arrows-sticky-inner js-slider-arrows-sticky-inner"></div>
        </div>
    </div>
{{else}}
    <div class="message-box no-custom-texting ma_center">{{@root.trans.no_offer}}</div>
{{/if}}
