<div class="tab-slider-box-switcher js-tab-slider-box-switcher flex-slick-slider slider-small-margin-slick">
    {{#each roomtypes}}
        <span class="tab-slider-box-switcher-item js-tab-slider-box-switcher-item">
            {{name}}
        </span>
    {{/each}}
</div>

<div class="tab-slider-box-slider-outer">
    <div class="js-tab-slider-box-slider tab-slider-box-slider slider-margin-slick">
        {{#each roomtypes}}
            <div class="tab-slider-box-item">
                <div class="tab-slider-box-item-inner">
                    <div class="tab-slider-box-image-wrapper js-tab-slider-box-image-slider-outer">
                        <div class="tab-slider-box-image-slider js-tab-slider-box-image-slider owl-carousel">
                            {{#each _images}}
                                <div class="img-aspect-ratio-container tab-slider-box-image-container">
                                    <picture class="picture">
                                        <!--[if IE 9]><video style="display: none"><![endif]-->
                                        <source srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif" data-srcset="https://admin.ehotelier.it/bnlocalproxy.php?path=thumbnails/crop/450x280/roomtype/{{this}}" media="(max-width: 450px)">
                                        <source srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif" data-srcset="https://admin.ehotelier.it/bnlocalproxy.php?path=thumbnails/crop/600x320/roomtype/{{this}}" media="(max-width: 600px)">
                                        <source srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif" data-srcset="https://admin.ehotelier.it/bnlocalproxy.php?path=thumbnails/crop/768x292/roomtype/{{this}}" media="(max-width: 768px)">
                                        <source srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif" data-srcset="https://admin.ehotelier.it/bnlocalproxy.php?path=thumbnails/crop/1050x399/roomtype/{{this}}" media="(max-width: 1050px)">
                                        <source srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif" data-srcset="https://admin.ehotelier.it/bnlocalproxy.php?path=thumbnails/crop/415x500/roomtype/{{this}}" media="(max-width: 1180px)">
                                        <source srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif" data-srcset="https://admin.ehotelier.it/bnlocalproxy.php?path=thumbnails/crop/650x600/roomtype/{{this}}" media="(max-width: 1320px)">
                                        <source srcset="/typo3conf/ext/bn_typo_dist76/Resources/Public/img/layout/IMG_placeholder_1x1.gif" data-srcset="https://admin.ehotelier.it/bnlocalproxy.php?path=thumbnails/crop/660x550/roomtype/{{this}}" media="(min-width: 1320px)">
                                        <!--[if IE 9]></video><![endif]-->
                                        <img src="/typo3conf/ext/bn_typo_dist76/Files/img/layout/IMG_placeholder_1x1.gif" data-src="https://admin.ehotelier.it/bnlocalproxy.php?path=thumbnails/crop/481x480/roomtype/{{this}}" class="lazyload" data-sizes="auto" alt="{{../name}}" title="{{../name}}">
                                    </picture>
                                </div>
                            {{/each}}
                        </div>
                        <div class="slick-dots js-tab-slider-box-image-slider-dots" role="tablist"></div>
                    </div>
                    <div class="tab-slider-box-text-container js-read-more-wrap">
                        <div class="js-read-more-text read-more-text-container tab-slider-read-more-text-container">
                            <div class="tab-slider-box-headline">
                                <span class="tab-slider-box-headline-part">{{name}}</span>
                                {{#if sizeinqm}}
                                    <span class="tab-slider-box-headline-part">{{sizeinqm}}&nbsp;m²</span>
                                {{/if}}
                            </div>
                            <div class="tab-slider-box-body-text">
                                {{{description}}}

                                {{#if information}}
                                    <div class="tab-slider-box-additional-text">
                                        {{{information}}}
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                        <div class="hidden js-full-text-container text-box-more-info-inner"></div>
                        <div class="action-button-container read-more-button-container">
                            <button class="action-button no-custom-texting js-read-more-button">
                                <span class="read-more-button-more-text">{{@root.trans.read_more}} <span class="icon-lp-arrow-down-2 request-offer-button-icon"></span></span>
                                <span class="read-more-button-less-text">{{@root.trans.show_less_text}} <span class="icon-lp-arrow-up-2 request-offer-button-icon"></span></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="slider-arrows-sticky-container js-slider-arrows-sticky-container">
        <div class="slider-arrows-sticky-inner js-slider-arrows-sticky-inner"></div>
    </div>
</div>
