
<label for="winterimages">
	<f:translate key="tx_bnseasons_domain_model_page.winterimages" />
</label><br />
	<span>File upload is not implemented!</span><br /><br />
<label for="springimages">
	<f:translate key="tx_bnseasons_domain_model_page.springimages" />
</label><br />
	<span>File upload is not implemented!</span><br /><br />
<label for="summerimages">
	<f:translate key="tx_bnseasons_domain_model_page.summerimages" />
</label><br />
	<span>File upload is not implemented!</span><br /><br />
<label for="fallimages">
	<f:translate key="tx_bnseasons_domain_model_page.fallimages" />
</label><br />
	<span>File upload is not implemented!</span><br /><br />