<div class="container-fluid">
    <div class="row">
        <f:if condition="{additionalData}">
            <b>{additionalData.ctype_label}</b> ({additionalData.cat_label}; id:{additionalData.cat_id})
        </f:if>
        <div class="col-md-12">
            <f:if condition="{assets}">
                <f:for each="{assets}" as="asset" iteration="">
                    <f:image image="{asset}" width="75c" height="50c"/>
                </f:for>
            </f:if>
        </div>
    </div>
</div>