<div class="container-fluid">
    <div class="row">
        <f:if condition="{additionalData.ctype_label}">
            <b>{additionalData.ctype_label}</b>
        </f:if>
        <div class="col-md-12">
            <f:if condition="{additionalData.categories}">
                <f:for each="{additionalData.categories}" as="cat">
                    <div>
                        [{f:if(condition:cat.selected,then:'<b>x</b>',else:' ')}]
                        <i>{cat.title}</i> (id: {cat.uid})
                    </div>
                </f:for>
            </f:if>
        </div>
    </div>
</div>