
<table class="tx-seasons" >
	<tr>
		<td>
			<f:translate key="tx_bnseasons_domain_model_seasonmedia.headerimage" />
		</td>
		<td>
			{seasonmedia.headerimage}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_bnseasons_domain_model_seasonmedia.headertext" />
		</td>
		<td>
			{seasonmedia.headertext}
		</td>
	</tr>
</table>