{namespace b=BN\BnTypoDist\ViewHelpers}
<div id="fallbackPage" class="fallbackPage">
    <div>
        <div class="top">
            <div>
                <div class="inner">
                    <div class="fb_logo">
                        <img alt="{b:constants.get(name:'company.name')}"
                             src="{b:constants.get(name:'company.logo')}"
                             title="{b:constants.get(name:'company.name')}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="middle">
            <div>
                <div class="inner">
                    <div class="fb_contact">
                        <f:link.external uri="tel:{b:constants.get(name:'company.telLink')}">
                            {b:constants.get(name:'company.tel')}
                        </f:link.external>
                        <br>
                        <f:link.email email="{b:constants.get(name:'company.mail')}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div>
                <div class="inner">
                    <div class="fb_update">
                        <div class="text">
                            <b>Ihr Browser ist zu alt!</b><br>
                            Um diese Seiten betrachten zu können benötigen Sie einen aktuellen Browser. Aktualisieren Sie doch beispielsweise auf einen dieser Browser: <hr>
                            <b>Il Suo browser è datato!</b><br>
                            Per visualizzare queste pagine, necessita di un browser aggiornato. Può aggiornare ad esempio uno di questi browser: <hr>
                            <b>Your browser is outdated!</b><br>
                            To view this site you need a newer browser. Upgrade to one of the following browsers:
                        </div>
                        <div class="browser">
                            <a href="http://www.google.com/chrome/" target="_blank" class="chrome" title="Google Chrome">
                                <img alt="Google Chrome" src="/typo3conf/ext/bn_typo_dist/Resources/Public/admin/img/backend/LOGO_chrome_250x250.png" title="Google Chrome">
                                <br> <span>Google Chrome</span>
                            </a>
                            <a href="https://www.mozilla.org/" target="_blank" class="firefox" title="Mozilla Firefox">
                                <img alt="Mozilla Firefox" src="/typo3conf/ext/bn_typo_dist/Resources/Public/admin/img/backend/LOGO_firefox_250x250.png" title="Mozilla Firefox">
                                <br> <span>Mozilla Firefox</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>