{namespace b=BN\BnTypoDist\ViewHelpers}
<f:comment>
    <!-- INFO:
        Viewhelper namepaces (as above) are only neccessary to include in fluid template files.
        Partials (and Sections) inherit automatically all namespaces from the template
        they are called from.
    -->
</f:comment>

<!-- Header -->
<header id="header" class="header">
    <!-- Season -->
    <f:cObject typoscriptObjectPath="lib.SEASON"/>
    <!-- Season-END -->
    <f:render partial="Menus/LangMenu" arguments="{langmenu: langmenu}" />
    <f:render partial="Menus/MainMenu" arguments="{mainmenu: mainmenu}" />
</header>
<!-- Header-END -->

<!-- Main -->
<div id="main" class="main">
    <f:render partial="Menus/Breadcrumb" arguments="{breadcrumb: breadcrumb}" />
    <!-- Content -->
    <f:render partial="Content" arguments="{_all}" />
    <!-- Content-END -->
</div>
<!-- Main-END -->

<!-- Footer -->
<footer id="footer" class="footer">
    <f:render partial="Menus/LegalMenu" arguments="{legalmenu: legalmenu}" />
    <f:render partial="PoweredByBN"/>
</footer>
<!-- Footer-END -->