<f:layout name="Default" />

<f:section name="main">
    <p><b><f:translate key="tx_bncookimp_domain_model_cookie.category.I.{category}" /></b></p>
    <div class="cookie_list">
        <table>
            <tr>
                <th><f:translate key="tx_bncookimp_domain_model_cookie.name" /></th>
                <th><f:translate key="tx_bncookimp_domain_model_cookie.origin" /></th>
                <th><f:translate key="tx_bncookimp_domain_model_cookie.duration" /></th>
                <th><f:translate key="tx_bncookimp_domain_model_cookie.description" /></th>
            </tr>
            <f:for each="{cookies}" as="cookie">
                <tr>
                    <td>{cookie.name}</td>
                    <td>{cookie.origin}</td>
                    <td>{cookie.duration}</td>
                    <td>{cookie.description}</td>
                </tr>
            </f:for>
        </table>
    </div>
    <br />
    <f:translate key="additional_data.description_text" />
    <br />
</f:section>