#cccwr {
    display:none!important;
}

.cb-cookiebanner {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    color: #666;
    width: 100%;
    z-index: 10000;
    font-size: 11px;
    border-top: 1px solid #000000;
}

.cb-infotext {
    font-weight: bold;
    margin: 5px auto;
    font-size: 0.1px;
    max-width: 1000px;
    padding: 0 15px;
    text-align: justify;
}

.cb-infotext:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.cb-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
    font-weight: 400;
    width: 80%;
}

.cb-infolink,
a.cb-infolink:visited {
    color: #864717;
}

.cb-button {
    background: #c3c3c3;
    color: #000000;
    cursor: pointer;
    font-size: 12px;
    display: inline-block;
    font-weight: 400;
    margin: 0;
    padding: 5px 50px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}

@media (max-width: 767px) {
    .cb-infotext {
        text-align: right;
    }

    .cb-text {
        width: 100%;
        text-align: left;
        margin-bottom: 15px;
    }
}