<div class="breadcrumb">
    <f:if condition="{breadcrumb}">
        <f:for each="{breadcrumb}" as="crumbitem" iteration="i">
            <f:if condition="!{i.isLast}">
                <f:then>
                    <f:link.page pageUid="{crumbitem.data.uid}">
                        {crumbitem.title}
                    </f:link.page>
                    <span> > </span>
                </f:then>
                <f:else>
                    {crumbitem.title}
                </f:else>
            </f:if>
        </f:for>
    </f:if>
</div>
