<div class="creditsmenu">
    <f:if condition="{langmenu}">
        <f:for each="{langmenu}" as="langmenu" iteration="i">
            <f:if condition="{langmenu.availableGlobally}">
                <div><b:constants.get name="lang.global.{langmenu.languageUid}.label"/></div>
                <ul>
                    <f:for each="{legalmenu}" as="legalItem" iteration="j">
                        <li>
                            <f:link.page pageUid="{legalItem.data.uid}"
                                         additionalParams="{L:'{langmenu.languageUid}'}">
                                {legalItem.title}
                            </f:link.page>
                        </li>
                    </f:for>
                </ul>
            </f:if>
        </f:for>
    </f:if>
</div>