<ul class="langmenu">
    <f:if condition="{langmenu}">
        <f:for each="{langmenu}" as="lang">
            <f:if condition="{lang.available}">
                <f:then>
                    <li>
                        <f:link.page pageUid="{lang.data.uid}"
                                     additionalParams="{L:'{lang.languageUid}'}"
                                     title="{b:constants.get(name:'lang.global.{lang.languageUid}.label')}"
                                     class="{f:if(condition: lang.active, then: 'active')}">
                            <b:constants.get name="lang.global.{lang.languageUid}.locale"/>
                        </f:link.page>
                    </li>
                </f:then>
            </f:if>
        </f:for>
    </f:if>
</ul>

