<div class="legalCopyright">
    © {f:format.date(date: "now", format:"Y")} {b:constants.get(name:'bn.copyright')}
</div>
<div class="legalmenu">
    <f:if condition="{legalmenu}">
        <f:for each="{legalmenu}" as="legalItem" iteration="i">
            <f:link.page pageUid="{legalItem.data.uid}">{legalItem.title}</f:link.page>
        </f:for>
    </f:if>
</div>
