<div class="mainmenu">
    <f:if condition="{mainmenu}">
        <f:render section="MainMenu" arguments="{_all}"/>
    </f:if>
</div>

<f:section name="MainMenu">
    <ul class="lvl0">
        <f:for each="{mainmenu}" as="menuitem" iteration="i">

            <v:variable.unset name="menuItemClass" />
            <v:variable.set name="menuItemClass" value="menuitem" />
            <f:if condition="{menuitem.current}">
                <f:then>
                    <v:variable.set name="menuItemClass" value="{menuItemClass} cur" />
                </f:then>
                <f:else if="{menuitem.active}">
                    <v:variable.set name="menuItemClass" value="{menuItemClass} act" />
                </f:else>
            </f:if>
            <f:if condition="{i.isFirst}">
                <f:then>
                    <v:variable.set name="menuItemClass" value="{menuItemClass} first" />
                </f:then>
                <f:else if="{i.isLast}">
                    <v:variable.set name="menuItemClass" value="{menuItemClass} last" />
                </f:else>
            </f:if>

            <li class="{menuItemClass}">
                <f:render section="LinkMenuItem" arguments="{data: menuitem.data}"/>

                <f:if condition="{menuitem.children}">
                    <f:render section="SubMenu" arguments="{menu: menuitem.children, menuDepth: '1'}"/>
                </f:if>
            </li>
        </f:for>
    </ul>
</f:section>

<f:section name="SubMenu">
    <ul class="lvl{f:if(condition:menuDepth,then:menuDepth)} sublvl">
        <f:for each="{menu}" as="menuitem" iteration="i">

            <v:variable.unset name="menuItemClass" />
            <v:variable.set name="menuItemClass" value="menuitem" />
            <f:if condition="{menuitem.current}">
                <f:then>
                    <v:variable.set name="menuItemClass" value="{menuItemClass} cur" />
                </f:then>
                <f:else if="{menuitem.active}">
                    <v:variable.set name="menuItemClass" value="{menuItemClass} act" />
                </f:else>
            </f:if>
            <f:if condition="{i.isFirst}">
                <f:then>
                    <v:variable.set name="menuItemClass" value="{menuItemClass} first" />
                </f:then>
                <f:else if="{i.isLast}">
                    <v:variable.set name="menuItemClass" value="{menuItemClass} last" />
                </f:else>
            </f:if>

            <li class="{menuItemClass}">
                <f:render section="LinkMenuItem" arguments="{data: menuitem.data}"/>
                <f:if condition="{menuitem.children}">
                    <f:render section="SubMenu" arguments="{menu: menuitem.children, menuDepth:'{b:number.increment(number:\'{menuDepth}\')}'}"/>
                </f:if>
            </li>
        </f:for>
    </ul>
</f:section>

<f:section name="LinkMenuItem">
    <f:link.page pageUid="{data.uid}">{data.title}</f:link.page>
</f:section>