/*  ==========================================================================
    Base styles: opinionated defaults
    ========================================================================== */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* apply a natural box layout model to all elements */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
    resize: vertical;
}

/*  ==========================================================================
    Fonts
    ========================================================================== */

/*  ==========================================================================
    CSS Styled Content Anpassungen für responsives Verhalten
    ========================================================================== */
div.csc-textpic .csc-textpic-imagewrap figure,
div.csc-textpic figure.csc-textpic-imagewrap {
    display: block !important;
}

figcaption.csc-textpic-caption {
    display: block !important;
}

.csc-textpic-imagewrap,
.csc-textpic-imagewrap > .csc-textpic-imagewrap {
    max-width: 100% !important;
}

.csc-textpic-imagewrap img,
.csc-textpic-imagewrap .csc-textpic-image {
    max-width: 100% !important;
    height: auto;
}

.csc-textpic-imagewrap.col_1 {
    /*width: auto !important;*/
    max-width: 100% !important;
}

.csc-textpic-intext-right-nowrap > .csc-textpic-imagewrap,
.csc-textpic-intext-left-nowrap > .csc-textpic-imagewrap,
.csc-textpic-intext-right > .csc-textpic-imagewrap,
.csc-textpic-intext-left > .csc-textpic-imagewrap {
    max-width: 48.99% !important;
}

.csc-textpic-intext-right-nowrap > .csc-textpic-imagewrap.col_1,
.csc-textpic-intext-left-nowrap > .csc-textpic-imagewrap.col_1,
.csc-textpic-intext-right > .csc-textpic-imagewrap.col_1,
.csc-textpic-intext-left > .csc-textpic-imagewrap.col_1 {
    width: auto !important;
    max-width: 48.99% !important;
}

div.csc-textpic-intext-right div.csc-textpic-imagewrap,
div.csc-textpic-intext-right-nowrap div.csc-textpic-imagewrap {
    margin-left: 2% !important;
}

div.csc-textpic-intext-left div.csc-textpic-imagewrap,
div.csc-textpic-intext-left-nowrap div.csc-textpic-imagewrap {
    margin-right: 2% !important;
}

.csc-textpic-intext-left-nowrap .csc-textpic-imagewrap + div,
.csc-textpic-intext-right-nowrap .csc-textpic-imagewrap + div {
    margin: 0 !important;
    max-width: 48.99% !important;
}

.csc-textpic-intext-left-nowrap .csc-textpic-imagewrap + div {
    float: right !important;
}

.csc-textpic-intext-right-nowrap .csc-textpic-imagewrap + div {
    float: left !important;
}

.csc-textpic-imagewrap .csc-textpic-imagecolumn {
    margin: 0 1% 1% 0 !important;
}

.csc-textpic-imagewrap .csc-textpic-lastcol {
    margin-right: 0 !important;
}

.csc-textpic-imagewrap.col_2 .csc-textpic-imagecolumn {
    max-width: 49.49% !important;
}

.csc-textpic-imagewrap.col_3 .csc-textpic-imagecolumn {
    max-width: 32.65% !important;
}

.csc-textpic-imagewrap.col_4 .csc-textpic-imagecolumn {
    max-width: 24.24% !important;
}

.csc-textpic-imagewrap.col_5 .csc-textpic-imagecolumn {
    max-width: 19.19% !important;
}

.csc-textpic-imagewrap.col_6 .csc-textpic-imagecolumn {
    max-width: 15.82% !important;
}

.csc-textpic-imagewrap.col_7 .csc-textpic-imagecolumn {
    max-width: 13.41% !important;
}

.csc-textpic-imagewrap.col_8 .csc-textpic-imagecolumn {
    max-width: 11.61% !important;
}
