/*  ==========================================================================
    Print styles
    ========================================================================== */
* {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
}

a,
a:visited {
    text-decoration: underline;
}

/*a[href]:after {
    content: " (" attr(href) ")";
}*/
abbr[title]::after {
    content: " (" attr(title) ")";
}

/*
 * Don't show links for images, or javascript/internal links
 */
.ir a::after,
a[href^="javascript:"]::after,
a[href^="#"]::after {
    content: "";
}

pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
}

thead {
    display: table-header-group; /* h5bp.com/t */
}

tr,
img {
    page-break-inside: avoid;
}

img {
    max-width: 100% !important;
}

@page {
    margin: 0.5cm;
}

p,
h2,
h3 {
    orphans: 3;
    widows: 3;
}

h2,
h3 {
    page-break-after: avoid;
}

.request.scroll,
.tab-slider-box,
.offer.container,
.socialshare,
.quickrequest.container,
.language_navi,
.header_slider,
.slick-dots,
.badge,
.slider-with-dots,
.powered-by-link,
.partner-logos,
.dynforms-replacement-markup,
.widget-text-box-widget {
    display: none !important;
}

.quote-box-logo-container,
.quote-box {
    margin: 1em 0;
}

.legal-menu a {
    margin-left: 1em;
}

h1,
h2 {
    font-size: 20px;
    line-height: 26px;
}

.highlight img {
    width: 70%;
    height: auto;
}

.subheadline {
    font-size: 18px;
    line-height: 1.2;
}

.title {
    font-size: 18px;
    padding-bottom: 10px;
}
