p {
    border: 1px dashed #f00;
}

ul {
    border: 1px dashed #00f;
}

ol {
    border: 1px dashed #008000;
}

table {
    border: 1px dashed #ffa500;
    width: 100%;
}

table tr th {
    background: #000;
    color: #fff;
}

table tr th,
table tr td {
    border: 1px solid #ddd;
}

/* so the "th" and "td" of a new inserted table have just the right min-height */
table tr td::after,
table tr th::after {
    content: '-';
    visibility: hidden;
}
