::-moz-selection {
    color: #fff;
    background-color: #de5352;
}

::selection {
    color: #fff;
    background-color: #de5352;
}

/* Standard-Settings */

::-moz-selection {
    background: #b68746;
}

::selection {
    background: #b68746;
}

/* Standard-Settings */

body {
    font-size: 62.5%;
    font-weight: 400;
    line-height: 1.5;
}

@media only screen and (max-width: 630px) {
    body {
        font-size: 58.5%;
    }
}

html {
    color: #444;
}

button,
input,
select,
textarea {
    color: inherit;
}

a {
    color: #00b35a;
    text-decoration: none;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

a:hover,
.active a {
    color: #00743a;
}

.call-to-action-button,
.bn__form-grid.bn__form-grid .call-to-action-button {
    font-size: 2.5em;
    line-height: 1.2;
    background-color: #aab300;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    position: relative;
    font-weight: 400;
    border: 0;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
}

.call-to-action-button:hover,
.bn__form-grid.bn__form-grid .call-to-action-button:hover {
    background-color: #8b9300;
    color: #fff;
}

h1,
h2,
h3 {
    margin: 0;
    padding-top: 55px;
    font-family: "Source Sans Pro", sans-serif;
    color: #444;
    font-size: 2.5rem;
    line-height: 1.2;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
}

@media only screen and (max-width: 630px) {
    h1,
    h2,
    h3 {
        font-size: 2.5em;
    }
}

h1,
h2 {
    font-weight: bold;
}

ul {
    padding: 0;
    margin: 1em 0;
}

/*  Target only the elements of unordered lists */

ul li {
    list-style-type: none;
    position: relative;
    padding-left: 28px;
}

ul li::before {
    /* .icon-lp-tick */
    content: "\e90f";
    font-family: 'standard-lp-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 10px;
    font-size: 13px;
    position: absolute;
    left: 0;
    top: 8px;
}

.plain-list li {
    padding-left: 0;
}

.plain-list li::before {
    display: none;
}

.inline-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.inline-list-item {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.inline-list-item::before {
    content: none;
}

.justified-inline-container {
    text-align: justify;
    font-size: 0.1px;
}

.justified-inline-container::after {
    display: inline-block;
    width: 100%;
    content: '';
}

.justified-inline-container-item {
    display: inline-block;
    font-size: 1.25rem;
    text-align: left;
}

.subheadline {
    padding-bottom: 35px;
    padding-top: 10px;
    color: #444;
    font-size: 2em;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    text-transform: none;
}

.headlines h2:only-child,
.headlines h3:only-child {
    padding-bottom: 30px;
}

html,
body {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
}

.ma_center {
    width: 100%;
    max-width: 1320px;
    margin: auto;
}

img {
    width: 100%;
    height: auto;
}

.ma_slider .ma_center {
    position: relative;
}

.main .request.scroll {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    will-change: transform;
    vertical-align: middle;
    position: fixed;
    right: 0;
    -webkit-transition: background-color 0.15s, color 0.15s, -webkit-transform 0.5s ease-in-out;
    transition: background-color 0.15s, color 0.15s, -webkit-transform 0.5s ease-in-out;
    transition: background-color 0.15s, color 0.15s, transform 0.5s ease-in-out;
    transition: background-color 0.15s, color 0.15s, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    top: 20%;

    /*
    Needs a very high z-index value due to issues
    with picturefill in connection with IE 9
   */
    z-index: 1020;
}

.main .request.scroll.fixed:lang(it),
.main .request.scroll.fixed:lang(en) {
    padding-left: 55px;
    padding-right: 55px;
}

.main .request.scroll {
    padding: 10px 10px 10px 12px;
}

.main .request.scroll span {
    display: block;
}

.main .request.scroll [class*=icon-] {
    font-family: 'standard-lp-icons' !important;
    display: inline;
}

.request_button_icon {
    position: absolute;
    bottom: 16px;
    right: 22px;
    font-size: 16px;
}

.main .request.request_button_hidden {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

@media only screen and (max-width: 1700px) {
    .main .request.scroll.fixed {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        top: 0;
        left: 0;
        text-align: center;
        font-size: 2em;
        width: 100%;
    }

    .main .request.scroll.fixed span {
        display: inline-block;
    }

    .main .request.scroll.fixed::after {
        right: 23px;
    }

    .request_button_icon {
        position: static;
    }

    .main .request.scroll.request_button_hidden {
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@media (max-width: 767px) {
    .request.scroll.fixed {
        display: none;
    }
}


.emphasized_info_box {
    margin-top: 10px;
}

@media only screen and (max-width: 630px) {
    .emphasized_info_box {
        margin-left: 0;
    }
}

.emphasized_info_box_item {
    padding: 10px 20px 10px 0;
    border-spacing: 0;
    display: table;
}

.emphasized_info_box_item_icon {
    color: #fff;
    position: relative;
    width: 42px;
    height: 42px;
    font-size: 21.84px;
    border-radius: 50%;
    background-color: #c6baae;
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
}

.emphasized_info_box_item_icon::before {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.emphasized_info_box_item_column {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.emphasized_info_box_row {
    display: block;
    font-size: 20px;
}

.socialshare {
    display: block;
}

.socialshare .ma_center {
    text-align: center;
    background-color: #fff;
    padding-bottom: 40px;
}

.socialshare img {
    width: auto;
    height: auto;
}

.socialshare a:not(:last-child) {
    padding-right: 15px;
}

body {
    background-color: #fff;
}

.stdcontent .central {
    width: 100%;
    max-width: 1320px;
    margin: auto;
    background-color: #fff;
    padding: 20px 0;
}

.csc-sitemap {
    font-size: 2em;
    color: #444;
}

.csc-sitemap a,
.csc-sitemap a:visited {
    color: #444;
    text-decoration: none;
}

@media only screen and (max-width: 1330px) {
    .stdcontent .central {
        margin-left: 2.5%;
        margin-right: 2.5%;
        width: 95% !important;
    }
}

.std_content .ma_center {
    background-color: #fff;
    padding: 20px;
}

.std_content .ma_center * {
    text-align: center;
}

.std_content .ma_center .text {
    font-size: 2em;
    line-height: 28px;
    color: #444;
}

.std_content .ma_center .text a {
    color: #444;
}

.std_content .ma_center .text a:visited {
    color: #444;
}

/* CSS lines here transferred to request-form.css */

@media only screen and (max-width: 1350px) {
    .main .ma_center {
        margin-left: 2.5%;
        margin-right: 2.5%;
        width: 95% !important;
    }
}

/* CSS lines here transferred to page-footer.css */

select::-ms-expand {
    display: none;
}

.standard-text-container .ma_center {
    background-color: #fff;
    padding: 20px;
}

.standard-text-container .subheadline {
    color: #444;
}

.standard-text-container .text {
    font-size: 2em;
}

.standard-text-container .text h1,
.standard-text-container .text h2,
.standard-text-container .text h3 {
    font-size: 1.5em;
}

.standard-text-container #privacy p,
.standard-text-container #privacy li {
    font-size: 20px;
}

.standard-text-container #privacy p:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

#privacy h1,
#privacy h2,
#privacy h3 {
    padding-bottom: 20px;
    text-align: left;
}

.impressum.container .ma_center {
    background-color: #fff;
    padding: 0 20px;
}

.impressum.container .subheadline {
    color: #444;
}

.impressum.container .text {
    font-size: 2em;
}

.impressum.container #impressum p,
.impressum.container #impressum li {
    font-size: 20px;
}

.impressum.container #impressum p:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

.bn_logo_imprint {
    width: 200px;
}

#impressum p {
    margin: 0 auto;
}

#impressum h1,
#impressum h2,
#impressum h3 {
    padding-bottom: 20px;
    text-align: left;
}

.std_content .wrapper::before,
.std_content .wrapper::after {
    content: " ";
    display: table;
}

.std_content .wrapper::after {
    clear: both;
}

.std_content .wrapper .text {
    width: 69%;
    float: left;
}

.std_content .wrapper .picture {
    width: 29%;
    float: right;
}

.std_content .wrapper .picture img {
    width: auto;
}

.privacy .text p:last-child {
    margin-bottom: 0;
}

.table-responsive {
    overflow-x: auto;
}

.content-table {
    width: 100%;
    margin: 1em 0;
    text-align: left;
}

.content-table td,
.content-table th {
    padding: 0.35em;
    color: #444;
}

.content-table tr:nth-child(even) {
    background-color: #bfbfbf;
}

.content-table tr {
    background-color: #dadada;
    -webkit-transition: background-color 0.15s;
    transition: background-color 0.15s;
}

.content-table tr:hover {
    background-color: #dadada;
}

.content-table tr:first-child th {
    background-color: #404040;
    color: #fff;
}

.csc-textpic-text p {
    text-align: center;
    font-size: 2em;
}

#cookiebanner ~ img {
    width: auto;
}

/*  See http://www.mademyday.de/css-height-equals-width-with-pure-css.html */

.img-aspect-ratio-container {
    position: relative;
    overflow: hidden;
}

.img-aspect-ratio-container::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.img-aspect-ratio-container img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: auto;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.collapse-sub-paragraphs p {
    margin: 0;
}

/*  See https://css-tricks.com/equidistant-objects-with-css/#article-header-id-5 */

.justified_inline_block_parent {
    font-size: 0.1px;
    text-align: justify;
}

.justified_inline_block_parent::after {
    content: '';
    display: inline-block;
    width: 100%;
}

.justified_inline_block_content {
    font-size: 0.625rem;
    display: inline-block;
    text-align: left;
}

.badge {
    background-color: #ae9c8c;
    border-radius: 50%;
    width: 137px;
    height: 137px;
    color: #fff;
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
    text-align: center;
    display: table;
    margin-left: 80px;
    font-family: Helvetica, sans-serif;
}

@media only screen and (max-width: 1000px) {
    .bn__form__badge-container {
        display: none;
    }
}

.badge-text {
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
    line-height: 0.9;
    font-weight: bold;
    font-size: 31px;
    padding: 0 10px;
}

[class*="raster-icon-"] {
    background-repeat: no-repeat;
    background-position: center;
}

.bn__form-grid__js--submit {
    line-height: 1.4;
}

.submit-button-text-line {
    display: block;
}

.submit-button-subline {
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 5px;
}

.submit-button-icon {
    position: absolute;
    right: 5%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 50px;
}

.offer.container,
.tab-slider-box {
    margin: 30px 0;
}

@media only screen and (max-width: 630px) {
    .offer.container,
    .tab-slider-box {
        margin: 15px 0;
    }
}
