<f:comment>
    <!--
        On special sites, replace the default content output.
        e.g.: on page with id == 3 (credits), render a special menu.
    -->
</f:comment>
<f:if condition="{data.uid}=='3'">
    <f:then>
        <f:render partial="Menus/CreditsMenu" arguments="{langmenu: langmenu, legalmenu: legalmenu}" />
    </f:then>
    <f:else>
        <f:cObject typoscriptObjectPath="lib.CONTENT"/>
    </f:else>
</f:if>