<div class="bn_link">
    <f:link.external uri="{b:constants.get(name:'bn.link')}"
                     target="_blank"
                     title="{b:constants.get(name:'bn.copyright')}">
        powered by
    </f:link.external>
</div>